*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/log/*
/tmp/**/*
/config/database.yml
/config/mongrel_cluster.yml
/public/category/*
/public/categorylist/*
/public/download/*
/public/en_category/*
/public/en_categorylist/*
/public/flash/*
/public/sharefile/*
/public/stores/*
/public/uploads/*
/public/images/uploaded_photos/**/*
/public/download/*
/config/environment.rb
config/environment.rb
