<div id = "wagenproductcontent">
<iframe id="frame1" onload="this.height=this.contentWindow.document.body.scrollHeight;setTop()" 
frameborder="0" height="700" width="540px" name="pcontent" src="<%=@menu%>" scrolling="no"></iframe>
</div>

