<div class="top">
<div class="logo">
  <div class="language">
    <a href="/hanhong/about?id=001028">简体</a>
    <a>|</a>
    <a name="StranLink" onfocus="this.blur()" >繁体</a>
    <script type="text/javascript" src="/javascripts/cn2big5.js"></script>
    <a>|</a>
    <a href="/hanhong/en_about?id=001025">English</a>
  </div>
  <img src="/images/hanhong/logo.gif" alt="上海汉虹精密机械有限公司" width="167" height="36" />
</div>
<div class="main_menu">
      <ul>
          <li><a href="/hanhong/en_index">Home</a></li><li>|</li>
          <li><a href="/hanhong/en_about?id=00?1025">About</a></li><li>|</li>
          <li><a href="/hanhong/en_news?id=005016">News</a></li><li>|</li>
          <li><a href="/hanhong/en_product?id=002">Products</a></li><li>|</li>
          <li><a href="/hanhong/en_market?id=003016">Applications</a></li> <li>|</li>
          <li><a href="/hanhong/en_technology?id=004008">Technology</a></li><li>|</li>
          <li><a href="/hanhong/en_service?id=006004">Service</a></li>
      </ul>
</div>
  <div class="clear"></div>
</div>