<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>上海汉虹精密机械有限公司</title>
<%= javascript_include_tag "AC_RunActiveContent.js" %>
<link href="../images/f.ico" rel="shortcut icon">
<style type="text/css">
*{font-size:12px;}
</style>
<%= stylesheet_link_tag 'import_en' %>
<%= stylesheet_link_tag 'css_en' %>

</head>

<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="100%" align="center" valign="middle">
	<table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td>
      <div class="top">
        	<div class="logo"><img src="/images/hanhong/logo.gif" alt="上海汉虹精密机械有限公司" width="167" height="36" /></div>
   	  <div class="main_menu">
            	<div class="right"><a href="/hanhong/about?id=001028">简体　</a> |　 <a href="#"> 繁体</a>　 | 　<a href="/hanhong/en_about?id=001025">English</a></div>
            </div>
            <div class="clear"></div>
        </div>      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
    <td>

  <!--
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="1004" height="382">
  <param name="movie" value="/images/hanhong/index4.swf" />
  <param name="quality" value="high" />
  <embed src="/images/hanhong/index4.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="1004" height="382"></embed>
</object>
  -->
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="1004" height="382">
  <param name="movie" value="/images/hanhong/indexEn.swf" />
  <param name="quality" value="high" />
  <embed src="/images/hanhong/indexEn.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1004" height="382"></embed>
  </object>

</td>
</tr>
    <tr>
      <td><div style="width:800px;"><div class="main_menu" style="width:640px;">
            	<ul>
                    <li><a href="#">Home</a></li><li>|</li>
                    <li><a href="/hanhong/en_about?id=001028">About</a></li><li>|</li>
                    <li><a href="/hanhong/en_product?id=002">Products</a></li><li>|</li>
                    <li><a href="/hanhong/en_market?id=003023">Applications</a></li><li>|</li>
                    <li><a href="/hanhong/en_news?id=005016">News</a></li><li>|</li>
                    <li><a href="/hanhong/en_technology?id=004008">Technology</a></li><li>|</li>
                    <li><a href="/hanhong/en_service?id=006008">Service</a></li><li>|</li>
                    <li><a href="/hanhong/en_about?id=001031">Contact us</a></li>
                </ul>
            </div></div><br><br><br><br><br></td>
    </tr>
</table>

</td>
  </tr>
</table>


</body>
</html>
