<div class="col2">
  <div class="Ptitle">
    <h1><%=@title%></h1>
  </div>
  <% for category in @category %>
  <div class="contentTxt">
    <%=category.content%>
  </div>
  <% end %>
</div>
<div class="clear"></div>