/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../app/assets/stylesheets/jx.css.scss */
#container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 780px;
  margin: 0 auto;
}
/* line 9, ../../app/assets/stylesheets/jx.css.scss */
#container a {
  color: #000;
  font-size: 12px;
  text-decoration: none;
}
/* line 10, ../../app/assets/stylesheets/jx.css.scss */
#container a:hover {
  color: #FF0000;
}

/* line 14, ../../app/assets/stylesheets/jx.css.scss */
#container #header #header-logo h1 a {
  width: 190px;
  height: 80px;
  display: block;
  text-indent: -999px;
  background: url(/images/jx/logo.jpg);
  float: left;
}
/* line 23, ../../app/assets/stylesheets/jx.css.scss */
#container #header #groupnav {
  float: right;
  padding-top: 10px;
}
/* line 26, ../../app/assets/stylesheets/jx.css.scss */
#container #header #groupnav ul li {
  padding: 0 5px;
  display: inline;
  border-right: 1px solid black;
}
/* line 31, ../../app/assets/stylesheets/jx.css.scss */
#container #header #groupnav li.last {
  border: none;
}
/* line 36, ../../app/assets/stylesheets/jx.css.scss */
#container #header #header-image {
  clear: both;
  width: 780px;
  height: 219px;
  padding-top:10px;
}
/* line 41, ../../app/assets/stylesheets/jx.css.scss */
#container #header #header-image-main {
  clear: both;
  width: 780px;
  height: 111px;
  padding-top:10px;
}
/* line 46, ../../app/assets/stylesheets/jx.css.scss */
#container #header #header-nav {
  background: url(/images/jx/menubackground.jpg);
  font-size: 26pt;
  font-weight: bold;
  height: 51px;
  padding-left: 30px;
}
/* line 53, ../../app/assets/stylesheets/jx.css.scss */
#container #header #header-nav ul li {
  list-style: none;
  float: left;
  display: inline;
}
/* line 58, ../../app/assets/stylesheets/jx.css.scss */

#container #header #header-nav ul li a {
  /*
  border-left: 1px #DDDDDD solid;
  border-right: 1px #FFF solid; 
  */
  padding: 6px 36px;
  _padding: 6px 34px;
}

/* line 67, ../../app/assets/stylesheets/jx.css.scss */
#container #main {
  overflow: hidden;
  background-color: #F5F5F5;
  padding: 20px 0 20px 0;
}
/* line 72, ../../app/assets/stylesheets/jx.css.scss */
#container #main #intro {
  width: 259px;
  background-color: #F5F5F5;
  margin-bottom: -3000px;
  padding-bottom: 3000px;
  border-right: 1px solid #DDD;
  padding-right: 20px;
  padding-left: 40px;
  float: left;
}
/* line 82, ../../app/assets/stylesheets/jx.css.scss */
#container #main #intro h2 {
  font-size: 12pt;
  font-weight: bold;
  padding: 10px;
}
/* line 88, ../../app/assets/stylesheets/jx.css.scss */
#container #main #intro .intro_text {
  line-height: 16px;
  padding: 10px;
}
/* line 91, ../../app/assets/stylesheets/jx.css.scss */
#container #main #intro .intro_text a {
  color: #1F688B;
}
/* line 92, ../../app/assets/stylesheets/jx.css.scss */
#container #main #intro .intro_text a:hover {
  color: #FF0000;
}
/* line 95, ../../app/assets/stylesheets/jx.css.scss */
#container #main #new {
  float: right;
  background-color: #F5F5F5;
  margin-bottom: -3000px;
  padding-bottom: 3000px;
  width: 459px;
  border-left: 1px solid #FFF;
}
/* line 103, ../../app/assets/stylesheets/jx.css.scss */
#container #main #new h2 {
  font-size: 12pt;
  font-weight: bold;
  color: red;
  padding: 10px 10px 10px 30px;
}
/* line 111, ../../app/assets/stylesheets/jx.css.scss */
#container #main #new dl {
  border: 1px #dddddd solid;
  padding: 0 20px 20px 20px;
  margin: 0 30px 30px 30px;
}
/* line 116, ../../app/assets/stylesheets/jx.css.scss */
#container #main #new dl dt {
  color: #1E6988;
  font-weight: bold;
  padding: 10px 0;
}
/* line 122, ../../app/assets/stylesheets/jx.css.scss */
#container #main #new dl dd {
  padding-bottom: 15px;
  border-bottom: 2px #dddddd dashed;
}
/* line 127, ../../app/assets/stylesheets/jx.css.scss */
#container #main #new dl dd.more {
  border-bottom: none;
  float: right;
}
/* line 132, ../../app/assets/stylesheets/jx.css.scss */
#container #main #new dl dd.more a {
  font-size: 11px;
}
/* line 138, ../../app/assets/stylesheets/jx.css.scss */
#container #main #menu {
  float: left;
  width: 200px;
  background: url(/images/jx/menu_top.jpg) no-repeat top;
  background-color: #F5F5F5;
  margin-bottom: -3000px;
  padding-bottom: 3000px;
}
/* line 146, ../../app/assets/stylesheets/jx.css.scss */
#container #main #menu ul {
  padding-top: 7px;
}
/* line 150, ../../app/assets/stylesheets/jx.css.scss */
#container #main #menu li {
  height: 20px;
  background-color: #E4E5E7;
  border-left: 1px #B3B7Ba solid;
  border-right: 1px #B3B7Ba solid;
  border-bottom: 1px #B3B7Ba solid;
  border-top: 1px #FEFEFE solid;
  padding: 2px 0 0 10px;
}
/* line 159, ../../app/assets/stylesheets/jx.css.scss */
#container #main #menu li a {
  line-height: 20px;
  display: inline;
}
/* line 164, ../../app/assets/stylesheets/jx.css.scss */
#container #main #menu li.first {
  border-top: none;
}
/* line 167, ../../app/assets/stylesheets/jx.css.scss */
#container #main #menu li.selected {
  background-color: #489cc1;
}
/* line 170, ../../app/assets/stylesheets/jx.css.scss */
#container #main #menu span.menubottom {
  background: url(/images/jx/menu_bottom.jpg) no-repeat top;
  width: 200px;
  height: 7px;
  display: block;
}
/* line 177, ../../app/assets/stylesheets/jx.css.scss */
#container #main #detail {
  float: right;
  width: 550px;
  background-color: #F5F5F5;
  margin-bottom: -3000px;
  padding-bottom: 3000px;
  padding-left: 20px;
  padding-right: 10px;
}
/* line 186, ../../app/assets/stylesheets/jx.css.scss */
#container #main #detail h2 {
  font-size: 14pt;
  font-weight: bold;
  padding: 10px;
}
/* line 192, ../../app/assets/stylesheets/jx.css.scss */
#container #main #detail p {
  line-height: 16px;
  text-indent: 2em;
  padding-bottom: 5px;
}
/* line 198, ../../app/assets/stylesheets/jx.css.scss */
#container #main #detail .content {
  padding-left: 10px;
}
/* line 200, ../../app/assets/stylesheets/jx.css.scss */
#container #main #detail .content ul li a {
  color: #3B6F9F;
  line-height: 30px;
}
/* line 202, ../../app/assets/stylesheets/jx.css.scss */
#container #main #detail .content .pagination {
  float: right;
}
/* line 204, ../../app/assets/stylesheets/jx.css.scss */
#container #main #detail .content .pagination a, #container #main #detail .content .pagination span {
  display: block;
  float: left;
  margin-right: 1px;
  padding: 0.2em 0.5em;
  border: 1px solid #9AAFE5;
}
/* line 211, ../../app/assets/stylesheets/jx.css.scss */
#container #main #detail .content .pagination span.disabled {
  border: 1px solid #DDD;
  color: #999;
}
/* line 215, ../../app/assets/stylesheets/jx.css.scss */
#container #main #detail .content .pagination span.current {
  background: none repeat scroll 0 0 #2E6AB1;
  border: 1px solid #2E6AB1;
  color: white;
  font-style: normal;
  font-weight: bold;
}
/* line 227, ../../app/assets/stylesheets/jx.css.scss */
#container #footer {
  clear: both;
  background: url(/images/jx/footerbackground.jpg);
  height: 57px;
  padding-top: 20px;
}
/* line 233, ../../app/assets/stylesheets/jx.css.scss */
#container #footer p {
  text-align: center;
  color: #FFF;
  padding: 2px;
}

