/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.3-p194@rails32/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../app/assets/stylesheets/yh.css.scss */
#container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 780px;
  margin: 0 auto;
}
/* line 9, ../../app/assets/stylesheets/yh.css.scss */
#container a {
  color: #000;
  font-size: 12px;
  text-decoration: none;
}
/* line 10, ../../app/assets/stylesheets/yh.css.scss */
#container a:hover {
  color: #FF0000;
}
/* line 14, ../../app/assets/stylesheets/yh.css.scss */
#container #header #header-logo h1 a {
  width: 210px;
  height: 69px;
  display: block;
  text-indent: -999px;
  background: url(/images/yh/logo.png);
  float: left;
}
/* line 23, ../../app/assets/stylesheets/yh.css.scss */
#container #header #groupnav {
  float: right;
  padding-top: 10px;
}
/* line 26, ../../app/assets/stylesheets/yh.css.scss */
#container #header #groupnav ul li {
  padding: 0 5px;
  display: inline;
  border-right: 1px solid black;
}
/* line 31, ../../app/assets/stylesheets/yh.css.scss */
#container #header #groupnav li.last {
  border: none;
}
/* line 36, ../../app/assets/stylesheets/yh.css.scss */
#container #header #header-image {
  clear: both;
  width: 780px;
  height: 251px;
}
/* line 41, ../../app/assets/stylesheets/yh.css.scss */
#container #header #header-image-main {
  clear: both;
  width: 780px;
  height: 99px;
}
/* line 46, ../../app/assets/stylesheets/yh.css.scss */
#container #header #header-nav {
  background: url(/images/yh/menubackground.jpg);
  height: 25px;
  padding-left: 20px;
}
/* line 51, ../../app/assets/stylesheets/yh.css.scss */
#container #header #header-nav ul li {
  list-style: none;
  float: left;
  display: inline;
}
/* line 56, ../../app/assets/stylesheets/yh.css.scss */
#container #header #header-nav ul li a {
  color: #fff;
  line-height: 25px;
  padding: 9px 36px;
}
/* line 65, ../../app/assets/stylesheets/yh.css.scss */
#container #main {
  overflow: hidden;
  padding: 20px 0 20px 0;
}
/* line 69, ../../app/assets/stylesheets/yh.css.scss */
#container #main #intro {
  width: 375px;
  margin-bottom: -3000px;
  padding-bottom: 3000px;
  padding-right: 70px;
  padding-left: 53px;
  float: right;
}
/* line 77, ../../app/assets/stylesheets/yh.css.scss */
#container #main #intro h2 {
  font-size: 12pt;
  font-weight: bold;
  padding-bottom: 10px;
}
/* line 83, ../../app/assets/stylesheets/yh.css.scss */
#container #main #intro .intro_text {
  line-height: 16px;
  padding: 10px 0;
}
/* line 86, ../../app/assets/stylesheets/yh.css.scss */
#container #main #intro .intro_text a {
  color: #1F688B;
}
/* line 87, ../../app/assets/stylesheets/yh.css.scss */
#container #main #intro .intro_text a:hover {
  color: #FF0000;
}
/* line 90, ../../app/assets/stylesheets/yh.css.scss */
#container #main #new {
  float: left;
  margin-bottom: -3000px;
  padding-bottom: 3000px;
  width: 280px;
  border-right: 2px solid #E6E3DC;
}
/* line 97, ../../app/assets/stylesheets/yh.css.scss */
#container #main #new h2 {
  font-size: 12pt;
  font-weight: bold;
  color: #22211D;
  padding: 10px 10px 10px 30px;
}
/* line 105, ../../app/assets/stylesheets/yh.css.scss */
#container #main #new dl {
  margin: 0 30px 30px 30px;
}
/* line 108, ../../app/assets/stylesheets/yh.css.scss */
#container #main #new dl dt {
  color: #1E6988;
  font-weight: bold;
  padding: 10px 0 5px;
}
/* line 114, ../../app/assets/stylesheets/yh.css.scss */
#container #main #new dl dd {
  padding-bottom: 15px;
  border-bottom: 1px #dddddd dashed;
}
/* line 119, ../../app/assets/stylesheets/yh.css.scss */
#container #main #new dl dd.more {
  border-bottom: none;
  float: right;
}
/* line 124, ../../app/assets/stylesheets/yh.css.scss */
#container #main #new dl dd.more a {
  font-size: 11px;
}
/* line 130, ../../app/assets/stylesheets/yh.css.scss */
#container #main #menu {
  float: left;
  width: 200px;
  background: url(/images/fld/menu_top.jpg) no-repeat top;
  margin-bottom: -3000px;
  padding-bottom: 3000px;
}
/* line 137, ../../app/assets/stylesheets/yh.css.scss */
#container #main #menu ul {
  padding-top: 7px;
}
/* line 141, ../../app/assets/stylesheets/yh.css.scss */
#container #main #menu li {
  height: 20px;
  background-color: #E4E5E7;
  border-left: 1px #B3B7Ba solid;
  border-right: 1px #B3B7Ba solid;
  border-bottom: 1px #B3B7Ba solid;
  border-top: 1px #FEFEFE solid;
  padding: 2px 0 0 10px;
}
/* line 150, ../../app/assets/stylesheets/yh.css.scss */
#container #main #menu li a {
  line-height: 20px;
  display: inline;
}
/* line 155, ../../app/assets/stylesheets/yh.css.scss */
#container #main #menu li.first {
  border-top: none;
}
/* line 158, ../../app/assets/stylesheets/yh.css.scss */
#container #main #menu li.selected {
  background-color: #489cc1;
}
/* line 161, ../../app/assets/stylesheets/yh.css.scss */
#container #main #menu span.menubottom {
  background: url(/images/fld/menu_bottom.jpg) no-repeat top;
  width: 200px;
  height: 7px;
  display: block;
}
/* line 168, ../../app/assets/stylesheets/yh.css.scss */
#container #main #detail {
  float: right;
  width: 550px;
  margin-bottom: -3000px;
  padding-bottom: 3000px;
  padding-left: 20px;
  padding-right: 10px;
}
/* line 176, ../../app/assets/stylesheets/yh.css.scss */
#container #main #detail h2 {
  font-size: 14pt;
  font-weight: bold;
  padding: 10px;
}
/* line 182, ../../app/assets/stylesheets/yh.css.scss */
#container #main #detail p {
  line-height: 16px;
  text-indent: 2em;
  padding-bottom: 5px;
}
/* line 188, ../../app/assets/stylesheets/yh.css.scss */
#container #main #detail .content {
  padding-left: 10px;
}
/* line 190, ../../app/assets/stylesheets/yh.css.scss */
#container #main #detail .content ul li a {
  color: #3B6F9F;
  line-height: 30px;
}
/* line 192, ../../app/assets/stylesheets/yh.css.scss */
#container #main #detail .content .pagination {
  float: right;
}
/* line 194, ../../app/assets/stylesheets/yh.css.scss */
#container #main #detail .content .pagination a, #container #main #detail .content .pagination span {
  display: block;
  float: left;
  margin-right: 1px;
  padding: 0.2em 0.5em;
  border: 1px solid #9AAFE5;
}
/* line 201, ../../app/assets/stylesheets/yh.css.scss */
#container #main #detail .content .pagination span.disabled {
  border: 1px solid #DDD;
  color: #999;
}
/* line 205, ../../app/assets/stylesheets/yh.css.scss */
#container #main #detail .content .pagination span.current {
  background: none repeat scroll 0 0 #2E6AB1;
  border: 1px solid #2E6AB1;
  color: white;
  font-style: normal;
  font-weight: bold;
}
/* line 217, ../../app/assets/stylesheets/yh.css.scss */
#container #footer {
  clear: both;
  height: 57px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 4px solid #E6E3DC;
}
/* line 224, ../../app/assets/stylesheets/yh.css.scss */
#container #footer p {
  text-align: center;
  padding: 2px;
}

