<div id='header'>
  <div id='header-logo'>
    <h1><a href="/fld">Ferrotec Logo</a></h1>
  </div>
  <div class='groupnav'>
    <ul>
      <li><a href="http://www.ferrotec.com.cn">Ferrotec(中国)</a></li>
      <li><a href="http://www.ferrotec.com.cn/companyintro/ferroteclocations">Ferrotec(全球)</a></li>
      <li class="last"><a href="#">联系我们</a></li>
    </ul>
  </div>
  <div id='header-image'>
    <img alt="Flash" src="/images/fld/flash.jpg" />
  </div>
  <div id='header-nav'>
    <ul>
      <% @menus.each do |menu| %>
        <li><%= link_to menu.categoryname, detail_fld_path(:cont=>"#{menu.categoryid}") %></li>
      <% end %>
    </ul>
  </div>
</div>
<div id='main'>
  <div id='intro'>
    <h2>公司介绍</h2>
    <img alt="Intro" height="167" src="/images/fld/intro.jpg" width="254" />
    <div class='intro_text'>
      <%= link_to @company.summary, '#' %>
    </div>
  </div>
  <div id='new'>
    <h2>最新消息</h2>
    <dl>
      <dt>2011-09</dt>
      <dd>
        <a href="#" target="_blank">富乐德网站公式开通</a>
      </dd>
      <dt></dt>
      <dd class='more'>
        <a href="#">更多&gt;&gt;</a>
      </dd>
    </dl>
  </div>
</div>
