<!DOCTYPE html>
<html>
  <head>
    <title>宁夏富乐德石英材料有限公司</title>
    <%= stylesheet_link_tag 'fld' %>
  </head>
  <body>
    <div id='container'>
      <div id='header'>
        <div id='header-logo'>
          <h1><a href="/">Ferrotec Logo</a></h1>
        </div>
        <div id='header-image'>
          <img alt="Flash" src="/images/fld/flash.jpg" />
        </div>
        <div id='header-nav'>
          <ul>
            <li><a href="$">公司介绍</a></li>
            <li><a href="$">产品介绍</a></li>
            <li><a href="$">市场应用</a></li>
            <li><a href="$">技术专区</a></li>
            <li><a href="$">新闻中心</a></li>
            <li><a href="$">服务专区</a></li>
          </ul>
        </div>
      </div>
      <div id='main'>
        <div id='intro'>
          <h2>公司介绍</h2>
          <img alt="Intro" height="167" src="/images/fld/intro.jpg" width="254" />
          <div class='intro_text'>
            <a href="$">宁宁夏富乐德宁夏富乐德宁夏富乐德宁夏富乐德宁夏富乐德宁夏富乐德宁夏富乐德宁夏富乐德宁夏富乐德宁夏富乐德宁夏富乐德宁夏富乐德宁夏富乐德宁夏富乐德夏富乐德</a>
          </div>
        </div>
        <div id='new'>
          <h2>最新消息</h2>
          <dl>
            <dt>2011-09</dt>
            <dd>
              <a href="$">中华人民共和国中华人民共和国</a>
            </dd>
            <dt>2011-09</dt>
            <dd>中华人民共和国中华人民共和国</dd>
            <dt>2011-09</dt>
            <dd>中华人民共和国中华人民共和国</dd>
            <dt>2011-09</dt>
            <dd>中华人民共和国中华人民共和国</dd>
            <dt>2011-09</dt>
            <dd>
              <a href="$">中华人民共和国中华人民共和国</a>
            </dd>
            <dt></dt>
            <dd class='more'>
              <a href="/assets?action=fld&amp;controller=welcome">更多&gt;&gt;</a>
            </dd>
          </dl>
        </div>
      </div>
      <div id='footer'>
        <p>2001-2012 COPYRIGHT AQM ALL RIGHTS RESERVER</p>
        <p>淅ICP备06049293号</p>
      </div>
    </div>
  </body>
</html>

