<div id="firstmiddle">
  <div id="product">
    <div id="title">Products</div>
    <div id="img"><img src="/images/aqm/index_r5_c2.jpg" alt="AQM" width="250" height="241" border="0" /></div>
    <div id="summary">
      <br/>
      <span id="datetime">Quartz Division of FTH</span>
      <p><span id="newstitle">With a total investment of over 40 million RMB,the division is equipped with many advanced machines imported from Japan and USA.The division...</span></p>
      <p id="en_more2"><a href="/mostlyproduct/index_en?id=002016"><u>Read more</u></a></p>
    </div>
  </div>
  <div id="indexline"><img src="/images/aqm/index_r5_c9.jpg" alt="line" border="0" height="291" width="14" /></div>
  <div id="newscenter">
    <p id="title">Technology</p>
    <div id="cpjj">
    <img src="/images/index/01.gif" height ="85" width = "114" style="float:left;clear:left;padding-left:10px;padding-right:10px;" /> 
    <div>
    <p id ="p1">
    To purify at quartz crucible's surface is used not only high purity silica sand, but also is controlled atmosphere and packing materials. AQM-30 is made from synthetic silica materials.Therefore, you can use for long time.
    </p>
    <p id="en_more1"><a href="/technology/index_en?id=004017"><u>Read more</u></a></p>
    </div>
    </div>
  </div>
 </div>