<div><img src="/images/aqm/index_r6_c2.jpg" alt="AQM" width="780" height="9" border="0" /></div>
<!--这里的div的id值不能改，目前发现在javascript中读取了改id值-->
<div id="footer">
  2001-2009 COPYRIGHT WAGEN ALL RIGHTS RESERVED<br />
  <a href="http://www.miibeian.gov.cn/">浙ICP备06049293号</a>
</div>