<title>杭州先进石英有限公司</title>
<%= stylesheet_link_tag 'aqm' %>
<center>
<%= render :partial => "aqm_title_en" %>        
<div class="clear"></div>      
<%= render :partial => "aqm_flash_en" %>
<div class="clear"></div>
<%= render :partial => "aqm_menu_en" %>
<div class="clear"></div>
<%= render :partial => "aqm_middle_en" %>
<div class="clear"></div>
<%= render :partial => "aqm_footer_en" %>
</center>