<div id="footer">
  2001-2009 COPYRIGHT WAGEN ALL RIGHTS RESERVED<br />
  <a href="http://www.miibeian.gov.cn/">浙ICP备09061718号</a>
  <script language="javaScript" src="http://zjnet.zjaic.gov.cn/hazqybswj/3301002005001545.js"></script>
</div>
