<div id="flashall">
  <div id="leftbar"><img src="/images/wagen/001_r4_c2.jpg" alt="product" border="0" height="213" width="16" /></div>
  <div id="flash"><img src="/images/wagen/en_001_r4_c3.jpg" alt="product" border="0" height="213" width="748" /></div>
  <div id="rightbar"><img src="/images/wagen/001_r4_c2.jpg" alt="product" border="0" height="213" width="16" /></div>
</div>