

  <title>杭州和源精密工具有限公司</title>
  <%= stylesheet_link_tag 'wagen' %>

<center>
  <%= render :partial => "wagen_title" %>        
  <div class="clear"></div>      
  <%= render :partial => "wagen_menu" %>
  <div class="clear"></div>
  <%= render :partial => "wagen_flash" %>
  <div class="clear"></div>
  <%= render :partial => "wagen_middle" %>
  <div class="clear"></div>
  <%= render :partial => "wagen_footer" %>
</center>