  <title>杭州和源精密工具有限公司</title>
  <%= stylesheet_link_tag 'wagen' %>

<center>
  <%= render :partial => "wagen_title_en" %>        
  <div class="clear"></div>      
  <%= render :partial => "wagen_menu_en" %>
  <div class="clear"></div>
  <%= render :partial => "wagen_flash_en" %>
  <div class="clear"></div>
  <%= render :partial => "wagen_middle_en" %>
  <div class="clear"></div>
  <%= render :partial => "wagen_footer_en" %>
</center>