<%= render :partial => "/ferrotec/ferrotec_title_en" %>        
<div class="clear"></div>      
<%= render :partial => "/ferrotec/shenhe_flash" %>
<div class="clear"></div>
<%= render :partial => "/ferrotec/ferrotec_menu_en" %>
<div class="clear"></div>
<%= render :partial => "/dahe/dahe_middle_en" %>