<%= render :partial => "/ferrotec/ferrotec_title" %>
<div class="clear"></div>
<%= render :partial => "/ferrotec/shenhe_flash" %>
<div class="clear"></div>
<%= render :partial => "/ferrotec/ferrotec_menu" %>
<div class="clear"></div>
<%= render :partial => "/shenhe/shenhe_middle" %>
