
<div id = "jtall">
  <div id = "left">
    
    <div id="title1">
      <p>About Ferrotec(CN)</p>
    </div>
    
    <div id="jtcpjj">
      <img src="/images/index/001_r6_c2.jpg" height ="107" width = "247" style="float:left;clear:left;padding-right:10px;padding-left:5px;" /> 
      
      <div id="jtcontent">
        <p id ="p1">
          Ferrotec is a diversified technology company with a worldwide presence in a broad array of end products, manufacturing systems, and industries. We provide our customers with advanced material, component, and assembly solutions that make their products work better, more precisely, and more reliably.Founded on a technology core of Ferrofluid magnetic liquid ……
        </p>
        <p id="jtmore"><a href="/companyintro/index_en?id=001&&company=1">More&nbsp;&raquo;</a></p>
      </div>
      
    </div>
    <div class="clear" style="clear:both"></div>
    <div id="title2">
      <p>Subsidiary</p>
    </div>
    
    <div id="subsidiary">
      <p><img src="/images/index/point.jpg" width="8" height="8" /><%= link_to "Ferrotec Hangzhou", :controller => 'dahe', :action => 'index_en' %></p>
      <p><img src="/images/index/point.jpg" width="8" height="8" /><a href="http://en.hanhongchina.com">Ferrotec Hanhong</a></p>
      <p><img src="/images/index/point.jpg" width="8" height="8" /><%= link_to "Ferrotec Wagen", :controller => 'wagen', :action => 'index_en' %></p>
      <p><img src="/images/index/point.jpg" width="8" height="8" /><%= link_to "Ferrotec Shanghai", :controller => 'shenhe', :action => 'index_en' %></p>
      <p><img src="/images/index/point.jpg" width="8" height="8" /><%= link_to "Ferrotec AQM", :controller => 'aqm', :action => 'index_en' %></p>
    </div>
  </div>
  
  <div id = "right">
    
    <div id="title3">
      <p>Global Distribution</p>
    </div>   
    <div id = "global">
      <a href="/companyintro/index_en?id=001007"  ><img src="/images/index/001_r4_c5.jpg" width="76" height="20" border="0" /><img src="/images/index/001_r4_c7.jpg" width="75" height="20" border="0" /><img src="/images/index/001_r4_c9.jpg" width="75" height="20"  border="0" /><img src="/images/index/001_r5_c5.jpg" width="226" height="101" border="0" /></a>
    </div>

    <div id ="howto">
      <a href="/companyintro/index_en?id=001008"  ><img src="/images/index/001_r8_c5.jpg" width="226" height="70" border="0" alt="ferrotec"/></a>
    </div>
    
    <div id="title4">
      <p>Links</p>
    </div>
    
    <div id ="link">
      <a href="http://www.bioer.com.cn" target="_blank"><img src="/images/index/001_r13_c5.jpg" width="32" height="36" border="0" /></a> <a href="http://www.youhaoyijian.com" target="_blank"><img src="/images/index/001_r13_c6.jpg" width="50" height="36"  border="0"/></a><a href="http://www.chinesevacuum.com" target="_blank"><img src="/images/index/001_r13_c8.jpg" width="72" height="36" border="0" /></a><a href="http://www.csiaic.com" target="_blank"><img src="/images/index/001_r13_c10.jpg" width="72" height="36"  border="0"/></a>
    </div>
    
  </div>
  
</div>
