<%= render :partial => "ferrotec_title_en" %>        
<div class="clear"></div>      
<%= render :partial => "ferrotec_flash" %>
<div class="clear"></div>
<%= render :partial => "ferrotec_menu_en" %>
<div class="clear"></div>
<%= render :partial => "ferrotec_middle_en" %>