<%= render :partial => "ferrotec_title" %>        
<div class="clear"></div>      
<%= render :partial => "ferrotec_flash" %>
<div class="clear"></div>
<%= render :partial => "ferrotec_menu" %>
<div class="clear"></div>
<%= render :partial => "ferrotec_middle" %>
