<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>基本参数</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--基本参数-->

<div id="yylybanner">基本参数</div>

<div id="div0">
<p>Some of Ferrotec's Ferrofluidic<sup>&reg;</sup> seal specifications are common to the majority of our feedthroughs.</p>
</div>

<div id="div1">
<table border="0" width="100%">
<tbody>
<tr>
<td style="padding: 0px 0px 9px;" valign="top" width="35%"><b>Temperature Range </b>(Uncooled)</td>
<td style="padding: 0px 0px 9px;" valign="top" width="32%">20 &ndash; 210&deg;F <br /> (-6 &ndash; 100&deg;C)</td>
<td style="padding: 0px 0px 9px;" valign="top" width="33%">Water cooled units may exceed these temperatures. Most unites are bakeable to 150&deg;C.</td>
</tr>
<tr>
<td style="padding: 0px 0px 9px;" valign="top"><b>Vacuum Pressure </b></td>
<td style="padding: 0px 0px 9px;" valign="top">10<sup>-9</sup> mbar</td>
<td style="padding: 0px 0px 9px;" valign="top">Estimated Value. Actual performance will depend on system pumping speed and other gas loads.</td>
</tr>
<tr>
<td style="padding: 0px 0px 9px;" valign="top"><b>Leakage Rate (mbar I/s) </b></td>
<td style="padding: 0px 0px 9px;" valign="top">10<sup>-11</sup> mbar I/s</td>
<td style="padding: 0px 0px 9px;" valign="top">Units not regularly tested to this level as it is beyond the capability of common vacuum equipment.</td>
</tr>
<tr>
<td style="padding: 0px 0px 9px;" valign="top"><b>Gas compatibility</b></td>
<td style="padding: 0px 0px 9px;" valign="top">inert gas</td>
<td style="padding: 0px 0px 9px;" valign="top">For sealing in reactive environments, a flourocarbon-based ferrofluid may be required.</td>
</tr>
<tr>
<td style="padding: 0px 0px 9px;" valign="top"><b>Housing Material </b></td>
<td style="padding: 0px 0px 9px;" valign="top">300 series stainless steel</td>
<td style="padding: 0px 0px 9px;" valign="top">ISO 1.4301 or similar</td>
</tr>
<tr>
<td style="padding: 0px 0px 9px;" valign="top"><b>Shaft Material </b></td>
<td style="padding: 0px 0px 9px;" valign="top">400 series stainless steel or <br /> 17-4 PH</td>
<td style="padding: 0px 0px 9px;" valign="top">ISO 1.4000 or similar<br /> ISO 1.4542 or similar</td>
</tr>
<tr>
<td style="padding: 0px 0px 9px;" valign="top"><b>Maximum shaft run-out </b></td>
<td style="padding: 0px 0px 9px;" valign="top">0.003"/0.076mm</td>
<td style="padding: 0px 0px 9px;" valign="top">&nbsp;</td>
</tr>
</tbody>
</table>
</div>


</body>
</html>
