<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>基本参数</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--基本参数-->

<div id="yylybanner">基本参数</div>

<div id="div0">
<p>Ferrotec大部分的磁流体密封装置有如下通用规格</p>
</div>

<div id="div1">
<table border="0" width="100%">
<tbody>
<tr>
<td style="padding: 0px 0px 9px;" valign="top" width="35%"><b>温度范围</b>(未冷却的 )</td>
<td style="padding: 0px 0px 9px;" valign="top" width="32%">20 - 210 华氏度（-6 - 100 摄氏度)</td>
<td style="padding: 0px 0px 9px;" valign="top" width="33%">采用水冷的设备可能超过该温度范围。大多数设备可烘烤至150 摄氏度。</td>
</tr>
<tr>
<td style="padding: 0px 0px 9px;" valign="top"><b>真空压力</b></td>
<td style="padding: 0px 0px 9px;" valign="top">10<sup>-9</sup>1毫巴</td>
<td style="padding: 0px 0px 9px;" valign="top">这是估计值，实际的性能参数将取决于系统的抽气速度和其他气体负荷。</td>
</tr>
<tr>
<td style="padding: 0px 0px 9px;" valign="top"><b>泄漏量（毫巴 升/秒）</b></td>
<td style="padding: 0px 0px 9px;" valign="top">10<sup>-11</sup>毫巴升/秒</td>
<td style="padding: 0px 0px 9px;" valign="top">一般装置的定期测试没有进行到这个水平，因为它超出了普通真空设备的能力。</td>
</tr>
<tr>
<td style="padding: 0px 0px 9px;" valign="top"><b>气体兼容性</b></td>
<td style="padding: 0px 0px 9px;" valign="top">惰性气体</td>
<td style="padding: 0px 0px 9px;" valign="top">在反应气体的环境中，密封设备可能需要采用氟碳化合物制成的磁流体。</td>
</tr>
<tr>
<td style="padding: 0px 0px 9px;" valign="top"><b>体材料</b></td>
<td style="padding: 0px 0px 9px;" valign="top">300系列不锈钢</td>
<td style="padding: 0px 0px 9px;" valign="top">ISO 1.4301或类似的标准</td>
</tr>
<tr>
<td style="padding: 0px 0px 9px;" valign="top"><b>轴材料</b></td>
<td style="padding: 0px 0px 9px;" valign="top">400系列不锈钢<br />或17-4 PH钢材</td>
<td style="padding: 0px 0px 9px;" valign="top">ISO 1.4000或类似的标准<br />ISO 1.4542或类似的标准</td>
</tr>
<tr>
<td style="padding: 0px 0px 9px;" valign="top"><b>最大轴摆度</b></td>
<td style="padding: 0px 0px 9px;" valign="top">0.003英寸/0.076毫米</td>
<td style="padding: 0px 0px 9px;" valign="top">&nbsp;</td>
</tr>
</tbody>
</table>
</div>


</body>
</html>
