<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<% if $company_id == 1 %>
<title>集团介绍</title>
<% else %>
<title>公司介绍</title>
<% end %>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body">
  <% if $company_id.to_i == 1 %>
  <div id="yylybanner">集团介绍</div>
  <% else %>
  <div id="yylybanner">公司介绍</div>
  <% end %>
  <% for companyinfo in @companyinfo %>
  <div id="cpjj">
  <span id="productdetail">  
  <% if companyinfo.summarypic != "" and companyinfo.summarypic != nil %>
  <% @company = companyinfo %>
  <%=image_tag url_for_file_column(:company,:summarypic),:height => '117', 
    :width => '304',:style=> 'float:right;clear:left;padding-left:25px;padding_bottom:15px;' %>
  <% end %>
  <pre ><%=companyinfo.summary%></pre>
  </span> 
  </div>
  <% end %>
</body>
</html>