<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--定制产品-->

<div id="yylybanner">定制产品</div>

<div id="div0">
<p>Ferrotec is committed to providing solutions that make your products work better, more precisely, and more reliably. Sometimes the unique challenges of your application exceed the specifications of our standard products.</p>
<p>Many feedthrough parameters can be modified or customized 	    to ensure that the final product matches your application. Some common customized features include:</p>
<ul>
<li>Size and shape
<ul>
<li>Small diameter or short length designs</li>
<li>Large diameter or long shaft designs </li>
<li>Fit within existing envelopes</li>
</ul>
</li>
<li>Motion
<ul>
<li>Multi-axial rotation</li>
<li>Rotary and linear motion </li>
<li>Integrated motor, gear drive, or drive coupling</li>
</ul>
</li>
<li>Mounting, Seal and Housing Configuration
<ul>
<li>Alternative materials </li>
<li>Surface finishes and coatings</li>
<li>Customized flanges </li>
<li>Location of sealing stages (on the stator or rotor)</li>
</ul>
</li>
<li>Shaft Features and Performance
<ul>
<li>Shaft strength</li>
<li>Shaft termination features</li>
<li>Shaft material </li>
<li>Material combinations</li>
<li>Coatings, surface finishes </li>
</ul>
</li>
<li>Performance Features
<ul>
<li>Ferrofluid type</li>
<li>External magnetic field</li>
<li>Bearing type, material, and position </li>
</ul>
</li>
<li>Subsystem integration design and assembly
<ul>
<li>End effectors and components</li>
<li>Motor, in-line drive, and Ferrodrive integration </li>
<li>Advanced features to integrate with complex tools</li>
</ul>
</li>
</ul>

<p><div id="cpdl3"></div></p>
<p><br /></p>
<h4>Custom Design Examples</h4>
<p>With over thirty years of experience developing and manufacturing precision sealing solutions for our customers, Ferrotec has developed custom solutions for many of the world's most demanding applications. Here are some common examples of custom engineered feedthroughs and sealing sub-systems that we have developed.</p>
<h4>Compact designs</h4>
<p>Ferrotec offers extremely compact seals with small seal envelopes. These are sometimes the only option in the case of retrofits where there is limited axial or radial space available. In new designs they are often beneficial to the overall system layout.</p>
 </div>


<div id="cpjjdetail4">
<div id="cpjjdetailimg4">
  <img src="http://www.ferrotec.com/images/products/ferrofluidic/compact.jpg" alt="" width="240" height="170" />
</div>
<div id="cpjjdetailcontent4">
<p>Typical applications that Ferrotec's compact designs are used for include:</p><br>
<ul>
<li>FLIR devices</li>
<li>Retrofit feedthroughs</li>
<li>Rinser-dryers</li>
</ul>
</div>
</div>

<div id="div1">
<h4>High-speed, large diameter hollow shaft feedthroughs</h4><br />
<p>High speed, large diameter hollow shaft feedthroughs are ideal for optical coating applications, e.g. fiber optic filter manufacturing. These feedthroughs are configured with a double Ferrofluidic seal to enable static access to the rear of the seal. Drive is supplied via a toothed belt through the side of the housing or an integral brushless motor within the feedthrough housing. The product can then be accurately observed or measured through the large diameter hollow shaft without the difficulties associated with a rotating window. Seals with an 8" internal diameter can be used at speeds up to 1,000 rpm.</p>
</div>

<div id="cpjjdetail4">
<div id="cpjjdetailimg4">
  <img src="http://www.ferrotec.com/images/products/ferrofluidic/highspeedlargedia.jpg" alt="" width="240" height="320" />
</div>
<div id="cpjjdetailcontent4">
<p>Typical applications of high-speed, large diameter hollow shaft feedthroughs include:</p><br>
<ul>
<li>Optical coating applications</li>
<li>300 mm wafer rotation mechanisms</li>
</ul>
</div>
</div>

<div id="div1">
<h4>Multi-axial Feedthroughs</h4><br />
<p>Ferrotec offers multi-axial feedthroughs for wafer handling applications. These offer extremely high repeatability with zero backlash. Linear motion is often incorporated as is cantilevered bearing configuration to optimize for UHV (Ultra High Vacuum) applications. Unlike magnetic couplings, the feedthroughs employ a continuous shaft per axis to transmit torque to the load, so torsional stiffness is maximized, allowing for the highest torque transmission of any UHV wafer-handling rotary seal technology.</p>
</div>

<div id="cpjjdetail4">
<div id="cpjjdetailimg4">
 <img src="http://www.ferrotec.com/images/products/ferrofluidic/multi-axial.jpg" alt="" width="240" height="181" />
</div>
<div id="cpjjdetailcontent4">
<p>Typical applications of multi-axial feedthroughs include:</p><br>
<ul>
<li>Wafer handling</li>
<li>CVD wafer rotation with stationary inner shaft</li>
</ul>
</div>
</div>

<div id="div1">
<h4>Rotary-linear feedthroughs</h4><br />
<p>Rotary linear feedthroughs integrate a Ferrofluidic rotary seal with an edge-welded metal bellows linear seal. They use pre-loaded angular contact rotary bearings and sleeve or ball-type linear bearings. Such feedthroughs are ideal for wafer handling and aligning applications where precise indexing and translation are involved.</p>
</div>

<div id="cpjjdetail4">
<div id="cpjjdetailimg4">
 <img src="http://www.ferrotec.com/images/products/ferrofluidic/rotary_linear.jpg" alt="" width="240" height="134" />
</div>
<div id="cpjjdetailcontent4">
<p>Typical applications of rotary-linear feedthroughs include:</p><br>
<ul>
<li>Wafer handling and alignment with Z-motion</li>
</ul>
</div>
</div>

<div id="div1">
<h4>High-precision spindle design</h4><br />
<p>Ferrofluidic spindles can be engineered to rotate with as little as 0.0001" (0.005 mm) of run-out. These products are ideal for high precision wafer handling/aligning applications and wafer/substrate rotation applications where wobble requirements are very stringent. Axial, radial and torsional spindle stiffness are achieved by custom engineering the bearing and shaft designs.</p>
</div>

<div id="cpjjdetail4">
<div id="cpjjdetailimg4">
 <img src="http://www.ferrotec.com/images/products/ferrofluidic/high_precision.jpg" alt="" width="240" height="151" />
</div>
<div id="cpjjdetailcontent4">
<p>Typical applications that Ferrotec's high-precision spindle designs are used for include:</p><br>
<ul>
<li>Wafer handling</li>
<li>Ion implantation</li>
</ul>
</div>
</div>

<div id="div1">
<h4>In-line drive motorized feedthroughs</h4><br />
<p>An in-line motorized feedthrough is compact in comparison to an offset or shaft-coupled drive. Ferrofluidic in-line motorized feedthroughs feature a brushless servomotor and matching amplifier with power supply and sinusoidal commutation. Application appropriate feedback devices and command loops are incorporated. As the feedthrough has the motor fully integrated around the shaft rather than coupled to it, it provides optimum drive-to-load torque efficiency over the life of the product. Direct drive feedthroughs are available with either solid or hollow shafts.</p>
</div>

<div id="cpjjdetail4">
<div id="cpjjdetailimg4">
 <img src="http://www.ferrotec.com/images/products/ferrofluidic/In-line-feedthrough-gs.jpg" alt="" width="240" height="260" />
</div>
<div id="cpjjdetailcontent4">
<p>Typical applications that in-line drive motorized feedthroughs are used for include:</p><br>
<ul>
<li>Any application where a motor is used, particularly where servo control is necessary</li>
</ul>
</div>
</div>


<div id="div1">
<br /><h4>Rotary gas unions</h4><br />
<p>Ferrofluidic rotary gas unions offer manufacturers of Chemical Vapor Deposition (CVD) and other deposition systems an efficient and flexible method of introducing gases into a process. A static gas feed runs into the rotating shaft which supports the wafer. This ensures that the gas outlet is in the center of the wafer, resulting in uniform coating characteristics.</p>
<p>More information on Rotary Gas Unions can be found in the <a href="http://www.ferrotec.com/products/ferrofluidic/unions/">Gas and Vacuum Unions </a>section of the Ferrotec web site. <a href="http://www.ferrotec.com/products/ferrofluidic/unions/">Read More&nbsp;&raquo; </a></p>
<br /><h4>Reactive gas seal</h4><br />
<p>Reactive gas seals for applications such as MOCVD use an inert fluorocarbon based fluid. They feature a cantilevered seal design to protect the bearings from process gases. Special materials are used in the seal construction. Inert gas purges or protective plating can also be added to prevent corrosive attack of seal components.</p>
<p>More information on Reactive Gas Seals can be found in the <a href="http://www.ferrotec.com/products/ferrofluidic/unions/">Gas and Vacuum Unions </a>section of the Ferrotec web site. <a href="http://www.ferrotec.com/products/ferrofluidic/unions/">Read More&nbsp;&raquo; </a></p>
<br /><h4>Retrofit feedthroughs</h4><br />
<p>Ferrotec offers a range of retrofit feedthroughs for many vacuum systems supplied by leading semiconductor OEMs.</p>
<p>More information about Ferrotec's Retrofit Feedthroughs can be found on the <a href="http://www.ferrotec.com/products/ferrofluidic/seals/retrofit/">Retrofit Seals </a>page of the Ferrotec web site. <a href="http://www.ferrotec.com/products/ferrofluidic/seals/retrofit/">Read More&nbsp;&raquo; </a></p>
</div>


</body>
</html>
