<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>定制密封件</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--定制产品-->

<div id="yylybanner">定制密封件</div>

<div id="div0">
<p>Ferrotec致力于为您提供解决方案，以使您的产品更好、更精确、更可靠。有时，您的应用问题的独特挑战可能会超出我们标准产品的规格。</p>
<p>密封件的许多参数都可以修改或定制，以确保最终产品符合您的应用要求。一些常见的自定义功能包括：</p>
<ul>
<li>尺寸和形状
<ul>
<li>小直径或短长度的设计</li>
<li>大直径或特长轴的设计</li>
<li>与现有设备的接口</li>
</ul>
</li>
<li>运动
<ul>
<li>多轴旋转</li>
<li>旋转和直线运动 </li>
<li>集成电机、齿轮传动、或驱动器的耦合</li>
</ul>
</li>
<li>安装、密封和机架的配置
<ul>
<li>替代材料</li>
<li>表面处理和涂层</li>
<li>定制法兰</li>
<li>密封位置（定子或转子）</li>
</ul>
</li>
<li>轴功能和性能
<ul>
<li>轴强度</li>
<li>轴的终止</li>
<li>轴材料</li>
<li>组合材料</li>
<li>涂料，表面处理</li>
</ul>
</li>
<li>性能特点
<ul>
<li>磁流体的类型</li>
<li>外部磁场</li>
<li>轴承类型、材料、和位置</li>
</ul>
</li>
<li>子系统集成设计和装配
<ul>
<li>终端受动器和组件</li>
<li>电机、在线驱动器、Ferrodrive的密封一体化电</li>
<li>集成到复杂工具的高级功能</li>
</ul>
</li>
</ul>

<p><div id="cpdl3"></div></p>
<p><br /></p>
<h4>定制密封件的实例</h4>
<p>Ferrotec拥有30多年开发和生产精密密封件的经验，我们为世界上最苛刻的应用问题提供了密封的解决方案。下面是我们开发的定制密封装置的一些实例。</p>
<h4>紧凑型设计</h4>
<p>Ferrotec提供了非常紧凑的小体积密封。在改装的情况下，有时可用的轴向或径向空间都非常有限，那么紧凑型的密封件就成了唯一的选择。而在新的设计中，选择紧凑型的密封件往往有利于整个系统的布局。</p>
 </div>


<div id="cpjjdetail4">
<div id="cpjjdetailimg4">
  <img src="http://www.ferrotec.com/images/products/ferrofluidic/compact.jpg" alt="" width="240" height="170" />
</div>
<div id="cpjjdetailcontent4">
<p>Ferrotec的紧凑型设计的典型应用包括：</p><br>
<ul>
<li>前视红外装置</li>
<li>改造的密封装置</li>
<li>冲洗器、干燥器</li>
</ul>
</div> 
</div> 

<div id="div1">
<h4>高速、大直径空心轴密封装置</h4><br />
<p>高速、大直径空心轴密封装置是光学镀膜系统的理想选择，如光纤滤波器的制造。这些密封件配置了双重磁流体密封，使密封的尾部处于可接触的静止状态。驱动器是通过机架侧边的齿形带或装有密封件的集成无刷电机传动的。与旋转观察窗口不同，该产品可以通过大直径的空心轴进行准确的观察或测量。8英寸内径的密封件最高可用的速度为每分钟1000转。</p>
</div>

<div id="cpjjdetail4">
<div id="cpjjdetailimg4">
  <img src="http://www.ferrotec.com/images/products/ferrofluidic/highspeedlargedia.jpg" alt="" width="240" height="320" />
</div>
<div id="cpjjdetailcontent4">
<p>高速、大直径空心轴密封装置的典型应用包括：</p><br>
<ul>
<li>光学镀膜</li>
<li>300毫米晶圆的轮换设备</li>
</ul>
</div> 
</div> 

<div id="div1">
<h4>多轴密封</h4><br />
<p>Ferrotec提供晶圆处理设备的多轴密封装置。这些密封装置提供了极高的可重复性，且为零齿隙。直线运动常用于悬臂式轴承配置，可以优化超高真空的应用。与磁性耦合方式不同，多轴密封在每个轴上都配置了一个连续轴来传递扭矩到负载，因此抗扭刚度最大化，且对于任何超高真空的晶圆处理设备都可以提供最大的扭矩传递。</p>
</div>

<div id="cpjjdetail4">
<div id="cpjjdetailimg4">
 <img src="http://www.ferrotec.com/images/products/ferrofluidic/multi-axial.jpg" alt="" width="240" height="181" />
</div>
<div id="cpjjdetailcontent4">
<p>多轴向密封装置的典型应用包括：</p><br>
<ul>
<li>晶圆处理</li>
<li>具有内固定轴的CVD（化学气相沉积法）晶圆的旋转</li>
</ul>
</div> 
</div> 

<div id="div1">
<h4>线性旋转密封</h4><br />
<p>线性旋转密封整合了磁流体旋转密封和焊接金属波纹管线性密封两者的优势。该装置使用预载角接触轴承和旋转袖或球型线性轴承。这种密封装置非常适合于晶圆处理、以及需要精确标定和移动的定位装置。</p>
</div>
 
<div id="cpjjdetail4">
<div id="cpjjdetailimg4">
 <img src="http://www.ferrotec.com/images/products/ferrofluidic/rotary_linear.jpg" alt="" width="240" height="134" />
</div>
<div id="cpjjdetailcontent4">
<p>旋转线性密封装置的典型应用包括：</p><br>
<ul>
<li>晶圆处理和Z轴定位装置</li>
</ul>
</div> 
</div> 

<div id="div1">
<h4>高精度主轴设计</h4><br />
<p>磁流体密封件的轴设计为可旋转，能够以小于0.0001英寸（0.005毫米）的误差运行。这些产品是高精度晶圆处理/定位装置和晶圆/基板旋转装置的理想密封件，可以满足非常严格的摆动要求。轴向，径向和周向的主轴刚度是由客户工程所用的轴承和轴的设计所决定的。</p>
</div>

<div id="cpjjdetail4">
<div id="cpjjdetailimg4">
 <img src="http://www.ferrotec.com/images/products/ferrofluidic/high_precision.jpg" alt="" width="240" height="151" />
</div>
<div id="cpjjdetailcontent4">
<p>Ferrotec高精密主轴设计的典型应用包括：</p><br>
<ul>
<li>晶圆处理</li>
<li>离子注入</li>
</ul>
</div> 
</div> 

<div id="div1">
<h4>在线驱动的电机密封</h4><br />
<p>在线驱动的电机密封装置比离散的或轴耦合的密封件更为紧凑。 在线驱动的电机磁流体密封装置使用了无刷伺服电机及配套的供电和正弦放大器，且采用了适当的反馈装置和控制回路。由于密封已经完全与电机集成，而不仅是简单地耦合，因此在整个产品寿命期都实现了负载-转矩效率的优化。在线驱动的电机密封装置可选实心轴或空心轴。</p>
</div>

<div id="cpjjdetail4">
<div id="cpjjdetailimg4">
 <img src="http://www.ferrotec.com/images/products/ferrofluidic/In-line-feedthrough-gs.jpg" alt="" width="240" height="260" />
</div>
<div id="cpjjdetailcontent4">
<p>在线驱动的电机密封的典型应用包括：</p><br>
<ul>
<li>任何有关电机的应用，特别是必须采用伺服控制的情况</li>
</ul>
</div> 
</div> 


<div id="div1">
<br /><h4>旋转式气体密封组件</h4><br />
<p>磁流体旋转式气体密封组件为化学气相沉积（CVD）和其他沉积系统的制造商提供了一种高效、灵活的引入气体的方法。静态的气体输入器进入到承载晶圆的旋转轴上。这将确保气体出口是在晶圆的中心，从而保证镀层的均匀性。</p>
<!--<p>More information on Rotary Gas Unions can be found in the <a href="http://www.ferrotec.com/products/ferrofluidic/unions/">Gas and Vacuum Unions </a>section of the Ferrotec web site. <a href="http://www.ferrotec.com/products/ferrofluidic/unions/">Read More&nbsp;&raquo; </a></p>-->
<p>更多关于旋转式气体密封组件的信息可在Ferrotec网站的<a href="http://www.ferrotec.com/products/ferrofluidic/unions/" target="_blank">气体和真空</a>联盟网页上找到。<a href="http://www.ferrotec.com/products/ferrofluidic/unions/" target="_blank">了解更多？</a></p>
<br /><h4>反应气体的密封件</h4><br />
<p>在金属有机化学气相沉积（MOCVD）过程中的反应气体的密封需要使用惰性的碳氟化合物制成的磁性液体。它们的特点是采用悬臂式密封设计来保护处于气体环境中的轴承。密封结构采用了特殊材料来制造。也可以采用通惰性气体或加保护板的方法来保护密封设备免于受气体的腐蚀性破坏。</p>
<p>更多关于旋转式气体密封组件的信息可在Ferrotec网站的<a href="http://www.ferrotec.com/products/ferrofluidic/unions/" target="_blank">气体和真空</a>联盟网页上找到。<a href="http://www.ferrotec.com/products/ferrofluidic/unions/" target="_blank">了解更多？</a></p>
<br /><h4>Retrofit feedthroughs</h4><br />
<p>Ferrotec offers a range of retrofit feedthroughs for many vacuum systems supplied by leading semiconductor OEMs.</p>
<p>More information about Ferrotec's Retrofit Feedthroughs can be found on the <a href="http://www.ferrotec.com/products/ferrofluidic/seals/retrofit/">Retrofit Seals </a>page of the Ferrotec web site. <a href="http://www.ferrotec.com/products/ferrofluidic/seals/retrofit/">Read More&nbsp;&raquo; </a></p>
</div>

 
</body>
</html>
