<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Global Distribution</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body>
<div id="yylybanner">Global Distribution</div>
<ul id="menu1">
<li onClick='window.parent.location.href("/companyintro/index_en?id=001&&company=2")' class="hover" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'"  >Hangzhou</li>
<li onClick='window.parent.location.href("/companyintro/index_en?id=001&&company=3")' class="hover" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'"  style="font-size:12px">Shanghai</li>
<li onClick='window.parent.location.href("/hanhong/en_about?id=001025")' class="hover" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'"  style="font-size:12px">HanHong</li>
<li onClick='window.parent.location.href("/companyintro/index_en?id=001&&company=5")' class="hover" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'"  style="font-size:12px">AQM</li>
<li onClick='window.parent.location.href("/companyintro/index_en?id=001&&company=6")' class="hover" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'"  style="font-size:12px">Wagen</li>
</ul>
<div id="divflash">
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="550" height="300">
  <param name="movie" value="/images/qqfb_en.swf" />
  <param name="quality" value="high" />
  <embed src="/images/qqfb_en.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="550" height="300"></embed>
  </object>
</div>
</body>
</html>
