<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Ferrotec全球</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body>
<div id="yylybanner">Ferrotec(Group)</div>
<div id="locations">
	<div id="left">North America</div>
        <div id="middle"><a href="http://www.ferrotec.com" target="_blank">United States</a></div>
	<div id="right"><img src="/images/mg.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left">Europe</div>
        <div id="middle"><a href="http://www.ferrotec.co.uk" target="_blank">United Kingdom</a></div>
	<div id="right"><img src="/images/yg.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left"></div>
        <div id="middle"><a href="http://www.ferrotec-europe.de/de/htmls/index.php" target="_blank">Germany</a></div>
	<div id="right"><img src="/images/dg.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left"></div>
      <div id="middle"><a href="http://www.ferrotec-europe.de" target="_blank">Spain</a></div>
	<div id="right"><img src="/images/xby.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left"></div>
        <div id="middle"><a href="http://www.ferrotec-europe.de" target="_blank">Italy</a></div>
	<div id="right"><img src="/images/ydl.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left">Asia</div>
        <div id="middle"><a href="http://www.ferrotec.co.jp/" target="_blank">Japan</a></div>
	<div id="right"><img src="/images/rb.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left"></div>
        <div id="middle"><a href="/ferrotec/index_en" target="_blank">China(Shanghai & Hangzhou)</a></div>
	<div id="right"><img src="/images/zg.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left"></div>
        <div id="middle"><a href="http://www.ferrotec.com.sg/" target="_blank">Singapore</a></div>
	<div id="right"><img src="/images/xjb.jpg" border="0" width="51" height="36" /></div>
</div>
</body>
</html>
