<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>全球据点</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body>
<div id="yylybanner">全球据点</div>
<ul id="menu1">
<li onClick='window.parent.location.href("/companyintro/index?id=001&&company=2")' class="hover" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'"  >杭州大和</li>
<li onClick='window.parent.location.href("/companyintro/index?id=001&&company=3")' class="hover" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'"  style="font-size:12px">上海申和</li>
<li onClick='window.parent.location.href("/companyintro/index?id=001&&company=5")' class="hover" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'"  style="font-size:12px">先进石英</li>
<li onClick='window.parent.location.href("/companyintro/index?id=001&&company=6")' class="hover" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'"  style="font-size:12px">和源精工</li>
</ul>
<div id="divflash">
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="550" height="300">
  <param name="movie" value="/images/qqfb.swf" />
  <param name="quality" value="high" />
  <embed src="/images/qqfb.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="550" height="300"></embed>
  </object>
</div>
</body>
</html>
