<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Ferrotec全球</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body>
<div id="yylybanner">Ferrotec(全球)</div>
<div id="locations">
	<div id="left">北美洲</div>
        <div id="middle"><a href="http://www.ferrotec.com" target="_blank">美国</a></div>
	<div id="right"><img src="/images/mg.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left">欧洲</div>
        <div id="middle"><a href="http://www.ferrotec.co.uk" target="_blank">英国</a></div>
	<div id="right"><img src="/images/yg.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left"></div>
        <div id="middle"><a href="http://www.ferrotec-europe.de/de/htmls/index.php" target="_blank">德国</a></div>
	<div id="right"><img src="/images/dg.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left"></div>
      <div id="middle"><a href="http://www.ferrotec-europe.de" target="_blank">西班牙</a></div>
	<div id="right"><img src="/images/xby.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left"></div>
        <div id="middle"><a href="http://www.ferrotec-europe.de" target="_blank">意大利</a></div>
	<div id="right"><img src="/images/ydl.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left"></div>
        <div id="middle"><a href="http://www.ferrotec-nord.ru" target="_blank">俄罗斯</a></div>
	<div id="right"><img src="/images/els.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left">亚洲</div>
        <div id="middle"><a href="http://www.ferrotec.co.jp/" target="_blank">日本</a></div>
	<div id="right"><img src="/images/rb.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left"></div>
        <div id="middle"><a href="/ferrotec/index" target="_blank">中国(上海和杭州)</a></div>
	<div id="right"><img src="/images/zg.jpg" border="0" width="51" height="36" /></div>
</div>
<div id="locations">
	<div id="left"></div>
        <div id="middle"><a href="http://www.ferrotec.com.sg/" target="_blank">新加坡</a></div>
	<div id="right"><img src="/images/xjb.jpg" border="0" width="51" height="36" /></div>
</div>
</body>
</html>
