<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>FTC100 TEC Temperature Controller</title>
<%= stylesheet_link_tag 'content' %>

<script>
<!--
function setTab(m,n){
 var tli=document.getElementById("menu"+m).getElementsByTagName("li");
 var mli=document.getElementById("ftc"+m).getElementsByTagName("ul");
 for(i=0;i<tli.length;i++){
  tli[i].className=i==n?"hover":"";
  mli[i].style.display=i==n?"block":"none";
 }
parent.document.getElementById("frame1").style.height = this.document.body.scrollHeight;
parent.setTop();
}
//-->
</script>
</head>

<body onload="setTab(0,0)" style="overflow-x:hidden" >
  <div id="yylybanner">FTC100 TEC Temperature Controller</div>
 
  <div id="tabs0">
   <ul id="menu0">
    <li onclick="setTab(0,0)" class="hover">Overview</li>
    <li onclick="setTab(0,1)" class="hover">System info</li>
    <li onclick="setTab(0,2)" class="hover">Software</li>
   </ul>
   <div id="ftc0">
    <!--Overview-->
    <ul id="block"><li>
      
      <div id="cpjjdetail6">
      <div id="cpjjdetailcontent11">
      <p><b>Features</b></p>
      <br />
        <p id="ftcp"><span id="span1"><b> &bull;</b></span><span id="span2">Bi-directional Temperature Control for Thermoelectric applications</span></p>
        <p id="ftcp"><span id="span1"><b> &bull;</b></span><span id="span2">P, PI, PD, PID, Auto Tuning, Open-Loop Control</span></p>
        <p id="ftcp"><span id="span1"><b> &bull;</b></span><span id="span2">T/C, RTD, Thermistor Input Selectable</span><p>
        <p id="ftcp"><span id="span1"><b> &bull;</b></span><span id="span2">Universal Power Supply: 90~264V AC, 50/60 Hz</span></p>
        <p id="ftcp"><span id="span1"><b> &bull;</b></span><span id="span2">2 Alarm Output</span></p>
        <p id="ftcp"><span id="span1"><b> &bull;</b></span><span id="span2">RS232 Communication with easy to use software GUI</span></p>
        
      </div> 
      <div id="cpjjdetailimg11">
      <img src="http://www.ferrotec.com/images/products/thermal/ftc100Web.jpg" alt="" width="200" height="180" />
      </div>
      </div>
      
      <div id="cpdl4"></div>
      <div id="div1">
      <h4>Product Overview</h4>
      <br />
      <p>Introducing the Ferrotec FTC100 Smart Temperature Controller, an innovative new thermal control platform for precision temperature applications. Designed specifically for thermoelectric temperature control, the FTC100 controller incorporates features like PWM, bi-directional power, auto-tune PID, broad sensor support, and an RS232 interface for managing the controller using a computer. And for configuration flexibility, the FTC100 and a matching Ferrotec FTX-series H-bridge amplifier are designed as a component solution; simply add the power supply and sensor to match your application requirements and you’re ready to start working with your thermoelectric modules.</p>
      </div>
      
      <div id="div1">
      <h4>Cost-effective Precision Temperature Control for TE Module Applications</h4>
      <br />
      <p>Optimized for controlling thermoelectric modules, the FTC100 controller incorporates features like Pulse Width Modulation (PWM) for efficient module control without using expensive power supply solutions. With a duty cycle of 0.0 to 100.0%, the FTC100 controller’s PWM function offers 1000 levels of precision voltage control. The controller also supports bi-directional temperature control, enabling it to maintain temperature very precisely by using both voltage directions.</p>
      </div>
      
      <div id="div1">
      <h4>Ideal Lab Testbench Platform</h4>
      <br />
      <p>The FTC100 controller offers an ideal solution for TE-based thermal design and laboratory testbench applications. With its panel control interface, users can monitor thermal system status and make adjustments to the controller without the need for an attached computer. And since the FTC100 also offers an RS232 interface and Ferrotec’s easy to use FTC100 Control Center GUI Software, users have the flexibility to write multi-step controller scripts, set parameters, and plot system performance using an attached computer. The FTC100 incorporates Set-it-and-Forget-it script support, so once you can load your script and then run it with no computer attached. The RS232 interface also serves as a platform for users to develop customized temperature control software for their application.</p>
      </div>
      
      <div id="div1">
      <h4>Supports a Variety of Temperature Sensors</h4>
      <br />
      <p>While many temperature controllers limit users to one or two sensor types, the FTC100 is designed to provide maximum flexibility for a variety of thermal control applications. The FTC100 controller offers broad support for a wide variety of temperature sensors including thermocouples, RTDs and thermistor inputs.</p>
      </div>
      
      <div id="div1">
      <p>For specific questions about Ferrotec temperature controllers or to place an order, contact your Ferrotec thermal solutions representative or use the <a href="/content/teresolvent"><b>Thermal Solutions Inquiry Form.</b></a></p>
      </div>
      
    </li></ul>
    
    <!--System info-->
    <ul><li>
        <div id="div1">
          <h4>Overview of Thermal Management System Using Ferrotec's FTC100</h4>
          <p>The FTC100 is designed for flexible integration into your thermal management system. By matching the components to your unique thermal problem, you can optimize your thermal system performance.</p>
        </div>
        <div id="div1">
          <img src="http://www.ferrotec.com/images/ftc100SysDiag.jpg" alt="" width="530" height="390" />
        </div>
        <div id="div1">
        <p>For specific questions about Ferrotec temperature controllers or to place an order, contact your Ferrotec thermal solutions representative or use the <a href="/content/teresolvent"><b>Thermal Solutions Inquiry Form.</b></a></p>
        </div>

    </li></ul>
    <!--Software-->
    <ul><li>
        <div id="div1">
          <h4>FTC100 Control Center Software</h4>
          <br />
          <p><b>One More Reason to Select Ferrotec's FTC100 Temperature Controller — Easy-to-Use Software</b></p>
          <br />
          <p>While some temperature control applications may only require very simple control (such as holding the temperature at a target set point), many Ferrotec customers need their thermoelectric modules to perform multiple functions, following scripts, dynamically changing temperature and following a thermal cycling program.</p>
          <br />
          <p>Whether you need an easy-to-operate system, or advanced scripting tools, the FTC100 Control Center software is an excellent solution for you. For ease of use, the graphic interface makes operating the controller a snap. At the same time, the advanced scripting capabilities make the FTC100 a strong fit for labs, research facitilies and product development environments.</p>
        </div>
        <div id="cpdl4"></div>
 
        <div id="cpjjdetail6">
        <div id="cpjjdetailcontent12">
        <p><b>Features</b></p>
        <br />
        <p><b>Access Most FTC100 Controller Settings Using One Convenient Window</b></p>
        <br />
        <p id="ftcp">
        <span id="span1"><b> &bull;</b></span>
        <span id="span3">Simplifies Controller Management with Easy-to-Operate Graphic User Interface</span>
        </p>
        <p id="ftcp">
        <span id="span1"><b> &bull;</b></span>
        <span id="span3">Provides Access to Advanced Scripting Capabilities</span>
        </p>
        <p id="ftcp">
        <span id="span1"><b> &bull;</b></span>
        <span id="span3">Save Controller Parameters</span>
        </p>
        <p id="ftcp">
        <span id="span1"><b> &bull;</b></span>
        <span id="span3">Access Stored Parameters</span>
        </p>
        <p id="ftcp">
        <span id="span1"><b> &bull;</b></span>
        <span id="span3">Log Controller Data</span>
        </p>
        </div> 
        <div id="cpjjdetailimg12">
        <img src="http://www.ferrotec.com/images/products/thermal/controlParameterWeb.jpg" alt="" width="314" height="191" />
        </div>
        </div>
        
        <div id="cpjjdetail6">
        <div id="cpjjdetailimg13">
        <img src="http://www.ferrotec.com/images/products/thermal/stripchartWeb.jpg" alt="" width="306" height="175" />
        </div>
        <div id="cpjjdetailcontent13">
        <p><b>Log and Plot Temperature Operations</b></p>
        <br />
        <p id="ftcp">
        <span id="span1"><b> &bull;</b></span>
        <span id="span3">Visually interpret thermal data</span>
        </p>
        <p id="ftcp">
        <span id="span1"><b> &bull;</b></span>
        <span id="span3">Log Controller Data</span>
        </p>

        </div> 
        </div>
        
        <div id="cpjjdetail6">
        <div id="cpjjdetailcontent9">
        <p><b>Access Advanced Scripting Capabilities</b></p>
        <br />
        <p id="ftcp">
        <span id="span1"><b> &bull;</b></span>
        <span id="span2">Set multiple target temperatures and program steps for advanced applications like thermal cycling </span>
        </p> 
        <p id="ftcp">
        <span id="span1"><b> &bull;</b></span>
        <span id="span2">Save and load script parameters from stored files on your disk drive</span>
        </p>  
        </div> 
        <div id="cpjjdetailimg9">
        <img src="http://www.ferrotec.com/images/products/thermal/scriptPanelWeb.jpg" alt="" width="232" height="173" />
        </div>
        </div>
        
        <div id="div1">
        <p>For specific questions about Ferrotec temperature controllers or to place an order, contact your Ferrotec thermal solutions representative or use the <a href="/content/teresolvent"><b>Thermal Solutions Inquiry Form.</b></a></p>
        </div>
    </li></ul>
   </div>
  </div>
</body>
</html>