<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>气体和真空单元</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--气体和真空单元-->

<div id="yylybanner">气体和真空单元</div>

<div id="div0">
<p>Ferrofluidic rotary unions make leak-free rotating connections from one or more stationary gas or vacuum services to dynamic components in your equipment.</p>
<br />
<p>Industrial and coating equipment often requires gas or vacuum services to moving parts. Examples include wafer chucks, glass lathes, manifolds, and pick and place equipment. Ferrofluidic rotary unions provide highly reliable, leak-free operation in a wide variety of environments, providing a safe, easily-integrated connection.</p>
<br />
<h4>Rotary Gas Unions</h4>
<br />
<p>Ferrofluidic rotary gas unions offer manufacturers of Chemical Vapor Deposition (CVD) and other deposition
	    systems an efficient and flexible method of introducing gases into a process.
	    A static gas feed runs into the rotating shaft which supports the wafer.
	    This ensures that the gas outlet is in the center of the wafer, resulting
	    in uniform coating characteristics.</p>
</div>
<div id="cpdl3"></div>

<div id="cpjjdetail6">
<div id="cpjjdetailimg7">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/rotarygasunion.jpg" height="155" width="279" />
</div>
<div id="cpjjdetailcontent7">
<p>Typical Applications that rotary gas unions are used for include:</p>
<br />
<ul>
<li>CVD</li>
<li>Vacuum Deposition Systems</li>
<li>Gas Handling Modules</li>
</ul>
</div> 
</div> 

<div id="div1">
<h4>Reactive Gas Seals</h4>
<br />
<p>Reactive gas seals for applications such as MOCVD use an inert fluorocarbon
	    based fluid. They feature a cantilevered seal design to protect the bearings
	    from process gases. Special materials are used in the seal construction.
	    Inert gas purges or protective plating can also be added to prevent corrosive
	    attack of seal components.</p>
</div>

<div id="cpjjdetail6">
<div id="cpjjdetailimg7">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/react_gas.jpg" height="206" width="279" />
</div>
<div id="cpjjdetailcontent7">
<p>Typical Applications for reactive gas seals include:</p>
<br />
<ul>
<li>MOCVD</li>
<li>LPCVD</li>
<li>PECVD </li>
<li>Designs where aggressive cleaning agents are used</li>
</ul>
</div> 
</div> 



</body>
</html>
