<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>General Information</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--基本信息-->

 <div id="yylybanner">General Information</div>

 <div id="div0">
    <p>From semiconductor manufacturing to the aerospace industry, Ferrotec's Ferrofluidic® seals are recognized worldwide as the premier seal for rotary motion in demanding environments. For 30 years, Ferrotec has been supplying precision hermetic seals, vacuum rotary feedthroughs, and integrated seal assemblies to our customers.</p>
 </div>
 <div id="cpjjdetail">
   <div id="cpjjdetailimg1">
     <img src="http://www.ferrotec.com/images/products/ferrofluidic/vfStudyBButton.jpg" alt="" width="230" height="130" />
   </div>
   <div id="cpjjdetailcontent1">
     <strong>Key factors to consider<br /> </strong>
     <p>When you are looking for a seal for your demanding precision application.</p> <br /> 
    <ol>
    <li>Your application requirements and the type of seal that you need </li>
    <li>Your seal supplier's capabilities</li>
    <li>Product quality and reliability </li>
    </ol>
   </div>
 </div>
 <div class="clear" style="clear:both"></div>
 <div id="div1">
  <p><h4><a href="http://www.ferrotec.com/products/ferrofluidic/seals/sealRequirements/">Need help determining your seal requirements?</a></h4><br /><p>
  <p>If you aren't familiar with selecting a Ferrofluidic seal, this page can provide you with more information about the factors that shape your seal.</p>
  <p>You can also find more useful information about Ferrotec's seal solutions in the links below. <a href="http://www.ferrotec.com/contact/sales/salesFerrofluidic/">Contact a Ferrofluidic Seal Solutions representative</a> to get your seal questions answered directly.</p>
  <br />
  <p><h4><a href="/content/commonspecifications">&raquo;&nbsp;Common Ferrofluidic Seal Specifications</a></h4></p>
  <p><h4><a href="/content/howtoorder">&raquo;&nbsp;How to order seals and rotary feedthroughs from Ferrotec</a></h4></p>
 </div>
 
 <div id="div1">
  <h3>Ferrotec  &mdash; the worldwide leader in precision seal solutions</h3>
  <p>From conceptual design to manufacturing to quality assurance, Ferrotec is renowned for solutions that work in environments where others fail. Our design and manufacturing capabilities extend far beyond our standard product line. For an overview of some of the seal solutions that we offer, check the following sections.</p>
 </div>
 
 <!--明细-->
  <div id="cpjjdetail3">
  <div id="cpjjdetailimg3">
    <img src="http://www.ferrotec.com/images/products/ferrofluidic/buttonStandard.jpg" alt="" width="100" height="80" />
  </div>
  <div id="cpjjdetailcontent3">
  <span id="titledetail">
    <a onclick="showmenu('002010001','/content/FerrofluidicFeedthrough?id=002010001')" style="cursor:pointer">
    <strong>Standard Feedthroughs&nbsp;&raquo; </strong>
    </a>
    </span><br />
    <p id="cpjjsummary">With 30 years of expertise in seals and feedthroughs, we have developed a comprehensive line of standard products that meet most application requirements. If you require a precision feedthrough, we probably have a standard solution to meet your requirements.</p>
  </div> 
  </div> 
  
  <div id="cpjjdetail3">
  <div id="cpjjdetailimg3">
    <img src="http://www.ferrotec.com/images/products/ferrofluidic/buttonCustom.jpg" alt="" width="100" height="80" />
  </div>
  <div id="cpjjdetailcontent3">
  <span id="titledetail">
    <a href="/content/customseals" style="cursor:pointer">
    <strong>Custom Feedthroughs&nbsp;&raquo; </strong>
    </a>
    </span><br />
    <p id="cpjjsummary">When you are pushing the limits of technology with your product, you need a seal solution that has never been made before—and one that works. Ferrotec is widely recognized for our ability to work with breakthrough technologies, developing and manufacturing seals that transcend existing sealing capabilities.</p>
  </div> 
  </div> 

  <div id="cpjjdetail3">
  <div id="cpjjdetailimg3">
    <img src="http://www.ferrotec.com/images/products/ferrofluidic/buttonSpecialty.jpg" alt="" width="100" height="80" />
  </div>
  <div id="cpjjdetailcontent3">
  <span id="titledetail">
    <a href="/content/sealsforspecialized" style="cursor:pointer">
    <strong>Seals for Specialized Applications&nbsp;&raquo;</strong>
    </a>
    </span><br />
    <p id="cpjjsummary">As the world leader in vacuum seals and rotary feedthroughs, we have worked with a broad range of industries that have unique seal requirements. If you have a specialized application, Ferrotec may have already developed a seal that has been optimized for an application just like yours.</p>
  </div> 
  </div> 

  <div id="cpjjdetail3">
  <div id="cpjjdetailimg3">
    <img src="http://www.ferrotec.com/images/products/ferrofluidic/buttonRetrofit.jpg" alt="" width="100" height="80" />
  </div>
  <div id="cpjjdetailcontent3">
  <span id="titledetail">
    <a href="/content/retrofitseals" style="cursor:pointer">
    <strong>Retrofit Seals&nbsp;&raquo;</strong>
    </a>
    </span><br />
    <p id="cpjjsummary">Ferrotec's retrofit seals are plug-and-play replacements for original system seals. These products benefit from Ferrotec's design enhancements for offer an instant system upgrade, with improved performance and reduced maintenance issues.</p>
  </div> 
  </div> 

  <div id="cpjjdetail3">
  <div id="cpjjdetailimg3">
    <img src="http://www.ferrotec.com/images/products/ferrofluidic/buttonUnion.jpg" alt="" width="100" height="80" />
  </div>
  <div id="cpjjdetailcontent3">
  <span id="titledetail">
    <a href="/content/gasandvacuumunions" style="cursor:pointer">
    <strong>Gas and Vacuum Unions &nbsp;&raquo;</strong>
    </a>
    </span><br />
    <p id="cpjjsummary">Ferrofluidic rotary unions provide one or more gas or vacuum services in a configuration to match your equipment for a leak-free connection from your stationary supplies to your rotating equipment.</p>
  </div> 
  </div> 
  
  <div id="div1">
    <h4>Ferrotec's Genuine Ferrofluidic seals: Why you shouldn't settle for imitations</h4><br />
    <p>Because Ferrotec produces its own ferrofluid, our Ferrofluidic seal and vacuum feedthrough products can be optimized to the unique demands of target applications. As the company that introduced this technology, our products benefit from 30 years of experience applying our technology to some of the most extreme application challenges. Our experience enables Ferrotec's Ferrofluidic products to outperform competitive products in the most demanding, high-precision applications.</p>
  </div>
  
<script language="JavaScript" type="text/JavaScript">
//主菜单单击事件
function showmenu(paremenuID,url)
{ 
    //主菜单变色
    parent.document.getElementById("menutop2").style.color='#000000';
    parent.document.getElementById("menutop2").style.backgroundImage='url(/images/memu_r9_c1.jpg)';
   
    if (paremenuID.length > 6)
    {
        parent.init2(); 
        //菜单变色
        parent.document.getElementById(paremenuID).style.backgroundImage='url(/images/memu_r5_c1.jpg)';
        parent.clickCID = paremenuID;    
    }
    else
    {
        //展开菜单并更换颜色
        parent.document.getElementById(paremenuID).style.backgroundImage='url(/images/memu_r2_c1.jpg)';
        parent.document.getElementById("child"+paremenuID).style.display = "";
        parent.clickPID = paremenuID;
    }
    
    //转到链接
    parent.document.getElementById(paremenuID).style.color='#FFFFFF';
    parent.document.getElementById("frame1").src = url;
}
</script>
  <br />
  <br />

</body>
</html>
