<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>基本信息</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--基本信息-->

 <div id="yylybanner">基本信息</div>

 <div id="div0">
    <p>从半导体制造业到航空航天业，Ferrotec的磁流体密封以苛刻环境中良好的密封性能而得到全球公认。 30年来，Ferrotec一直为我们的客户提供精密的真空密封，真空旋转密封装置，密封组件和密封件的集成。</p>
 </div>
 <div id="cpjjdetail">
   <div id="cpjjdetailimg1">
     <img src="http://www.ferrotec.com/images/products/ferrofluidic/vfStudyBButton.jpg" alt="" width="230" height="130" />
   </div>
   <div id="cpjjdetailcontent1">
     <strong>要考虑的关键因素<br /> </strong>
     <p>当你寻找一种能精确地满足您的应用要求的密封装置的时候，您需要考虑：</p> <br />
    <ol>
    <li>您的特定要求和密封的类型 </li>
    <li>密封供应商的能力</li>
    <li>产品的质量和可靠性</li>
    </ol>
   </div>
 </div>
 <div class="clear" style="clear:both"></div>
 <div id="div11">
  <p><h4><a href="/content/sealrequirements/">需要帮助您确定您的的密封要求吗？</a></h4><br /><p>
  <p>如果您不熟悉磁流体密封技术，此页面可以提供更多信息。</p>
  <p>您可以点击下述链接，以得到更多Ferrotec密封方面的技术信息。您还可以直接 <a href="http://www.ferrotec.com/contact/sales/salesFerrofluidic/" target="_blank">联系磁流体密封部门的客服代表。</a> </p>
  <br />
  <p><h4><a href="/content/commonspecifications">&raquo;&nbsp;普通磁流体密封设备的规格</a></h4></p>
  <p><h4><a href="/content/howtoorder">&raquo;&nbsp;如何订购Ferrotec提供的磁流体密封传动装置</a></h4></p>
 </div>
 
 <div id="div1">
  <h3>Ferrotec  &mdash;密封领域的全球领导者</h3>
  <p>从概念设计到高质量的制造，日本Ferrotec可以解决其他人无法解决的一些极端工作环境中的密封问题，并为此而感到骄傲。我们的设计和制造能力远远超出我们的标准生产线。如需了解我们在密封产品上的能力，请查看如下内容。</p>
 </div>
 
 <!--明细-->
  <div id="cpjjdetail3">
  <div id="cpjjdetailimg3">
    <img src="http://www.ferrotec.com/images/products/ferrofluidic/buttonStandard.jpg" alt="" width="100" height="80" />
  </div>
  <div id="cpjjdetailcontent3">
  <span id="titledetail">
    <a onclick="showmenu('002010001','/content/ferrofluidicfeedthrough?id=002010001')" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'" style="cursor:pointer">
    <strong>标准密封件&nbsp;&raquo; </strong>
    </a>
    </span><br />
    <p id="cpjjsummary">我们拥有30余年真空密封传动装置的专业经验，我们已经开发了能够满足大多数应用需求的标准产品和生产线。如果您需要一个精确的密封件，可能我们已经开发了标准解决方案，能够满足您的要求。</p>
  </div> 
  </div> 
  
  <div id="cpjjdetail3">
  <div id="cpjjdetailimg3">
    <img src="http://www.ferrotec.com/images/products/ferrofluidic/buttonCustom.jpg" alt="" width="100" height="80" />
  </div>
  <div id="cpjjdetailcontent3">
  <span id="titledetail">
    <a href="/content/customseals" style="cursor:pointer">
    <strong>自定义密封件&nbsp;&raquo; </strong>
    </a>
    </span><br />
    <p id="cpjjsummary">当您不断开发你的产品而遇到技术瓶颈的时候，也许您需要一个之前从来没有的密封系统。日本Ferrotec在磁流体技术方面得到广泛的认可，我们有能力发展突破性的技术，从而开发和生产出超越现有密封性能的密封设备。</p>
  </div> 
  </div> 

  <div id="cpjjdetail3">
  <div id="cpjjdetailimg3">
    <img src="http://www.ferrotec.com/images/products/ferrofluidic/buttonSpecialty.jpg" alt="" width="100" height="80" />
  </div>
  <div id="cpjjdetailcontent3">
  <span id="titledetail">
    <a href="/content/sealsforspecialized" style="cursor:pointer">
    <strong>密封的专业应用&nbsp;&raquo;</strong>
    </a>
    </span><br />
    <p id="cpjjsummary">作为在真空密封和磁流体密封装置的世界领导者，我们已经在不同的工业领域解决了各种精密的密封问题。如果你工作的领域需要密封服务，Ferrotec可能已经针对这个领域工作多年，并优化出一套最佳的密封系统，那么您正好可以用得上。</p>
  </div> 
  </div> 

  <div id="cpjjdetail3">
  <div id="cpjjdetailimg3">
    <img src="http://www.ferrotec.com/images/products/ferrofluidic/buttonRetrofit.jpg" alt="" width="100" height="80" />
  </div>
  <div id="cpjjdetailcontent3">
  <span id="titledetail">
    <a href="/content/retrofitseals" style="cursor:pointer">
    <strong>改造密封件&nbsp;&raquo;</strong>
    </a>
    </span><br />
    <p id="cpjjsummary">Ferrotec的改造密封件可以即插即用，替代原有的密封件。这些Ferrotec设计的密封件能够提供即时的系统升级，为您的密封系统改善性能，减少维修问题。</p>
  </div> 
  </div> 

  <div id="cpjjdetail3">
  <div id="cpjjdetailimg3">
    <img src="http://www.ferrotec.com/images/products/ferrofluidic/buttonUnion.jpg" alt="" width="100" height="80" />
  </div>
  <div id="cpjjdetailcontent3">
  <span id="titledetail">
    <a href="/content/gasandvacuumunions" style="cursor:pointer">
    <strong>气体和真空联盟 &nbsp;&raquo;</strong>
    </a>
    </span><br />
    <p id="cpjjsummary">磁流体密封联盟提供了单种气体，混合气体或真空状态的服务项目，以解决从固定设备到旋转设备之间的气体泄露问题。</p>
  </div> 
  </div> 
  
  <div id="div1">
    <h4>Ferrotec的正版磁流体密封：为什么你不应该满足于盗版产品？</h4><br />
    <p>由于Ferrotec生产自己的磁流体，我们的磁流体真空旋转密封装置可以进行优化，并应用于特定的需求目标。由于Ferrotec公司首先引进这项技术，我们的产品30年来已经应用于最极端的一些密封问题的挑战。我们的经验使Ferrotec的磁流体产品在最苛刻，最高精度的应用问题上具有很强的竞争力。</p>
  </div>
  
<script language="JavaScript" type="text/JavaScript">
//主菜单单击事件
function showmenu(paremenuID,url)
{ 
    //主菜单变色
    parent.document.getElementById("menutop2").style.color='#000000';
    parent.document.getElementById("menutop2").style.backgroundImage='url(/images/memu_r9_c1.jpg)';
   
    if (paremenuID.length > 6)
    {
        parent.init2(); 
        //菜单变色
        parent.document.getElementById(paremenuID).style.backgroundImage='url(/images/memu_r5_c1.jpg)';
        parent.clickCID = paremenuID;    
    }
    else
    {
        //展开菜单并更换颜色
        parent.document.getElementById(paremenuID).style.backgroundImage='url(/images/memu_r2_c1.jpg)';
        parent.document.getElementById("child"+paremenuID).style.display = "";
        parent.clickPID = paremenuID;
    }
    
    //转到链接
    parent.document.getElementById(paremenuID).style.color='#FFFFFF';
    parent.document.getElementById("frame1").src = url;
}
</script>
  <br />
  <br />

</body>
</html>
