<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Inch-based Measure</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--如何订购链接1-->

<div id="yylybanner">Inch-based Measure</div>


<div id="div1">
<p>Note: Although codes exist for many options, not all combinations of options are available.</p>
</div>
<div id="cpdl4"></div>

<div id="div1">
  <h4>Shaft type</h4>
  <p><span id="span3"><b>SS</b></span><span id="span4">Solid Shaft</span></p>
  <p><span id="span3"><b>HS</b></span><span id="span4">Hollow SHaft</span></p>
  <p><span id="span3"><b>CM</b></span><span id="span4">Compliant Mount</span></p>
  <p><span id="span3"><b>RU</b></span><span id="span4">Rotary Union</span></p>
  <p><span id="span3"><b>CX</b></span><span id="span4">co-axial</span></p>
  <p><span id="span3"><b>TX</b></span><span id="span4">tri-axial</span></p>
  <p><span id="span3"><b>HD</b></span><span id="span4">heavy duty</span></p>
  <p><span id="span3"><b>MS</b></span><span id="span4">module seal</span></p>
  <p><span id="span3"><b>MSS</b></span><span id="span4">sleeved module seal</span></p>
  <p><span id="span3"><b>SM</b></span><span id="span4">sealed motor</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Shaft Diameter</h4>
  <p><span id="span3"><b>188</b></span><span id="span4">0.1875 inch diameter shaft</span></p>
  <p><span id="span3"><b>250</b></span><span id="span4">0.250 inch diameter shaft </span></p>
  <p><span id="span3"><b>375</b></span><span id="span4">0.375 inch diameter shaft</span></p>
  <p><span id="span3"><b>1000</b></span><span id="span4">1.000 inch diameter shaft</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Bearing configuration</h4>
  <p><span id="span3"><b>S</b></span><span id="span4">simply supported </span></p>
  <p><span id="span3"><b>C</b></span><span id="span4">cantilevered</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Fluid</h4>
  <p><span id="span3"><b>F</b></span><span id="span4">fluorocarbon based (reactive gasses)</span></p>
  <p><span id="span3"><b>L</b></span><span id="span4">standard hydrocarbon </span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Mounting</h4>
  <p><span id="span3"><b>A</b></span><span id="span4">nose (threaded)</span></p>
  <p><span id="span3"><b>B</b></span><span id="span4">nut mount (threaded body)</span></p>
  <p><span id="span3"><b>C</b></span><span id="span4">ConFlat flange </span></p>
  <p><span id="span3"><b>F</b></span><span id="span4">Ferroflange </span></p>
  <p><span id="span3"><b>E</b></span><span id="span4">custom</span></p>
  <p><span id="span3"><b>O</b></span><span id="span4">ISO flange </span></p>
  <p><span id="span3"><b>K</b></span><span id="span4">ISO flange</span></p>
  <p><span id="span3"><b>X</b></span><span id="span4">cartridge seal</span></p>

</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Mount Sizing</h4>

<table border="0" width="100%">
<tbody>
<tr>
<td>&nbsp;</td><td><b>Thread size </b></td>
<td><b>ConFlat Flange Size </b></td><td><b>ISO Flange Size </b></td>
<td><b>Ferro Flange Size </b></td><td><b>Kwik Flange </b></td>
</tr>

<tr>
<td><b>A</b></td><td>0.3125-24</td>
<td>1.33</td><td>63</td>
<td>6.0</td><td>16</td>
</tr>

<tr>
<td><b>B</b></td><td>0.4375-20</td>
<td>2.75</td><td>100</td>
<td>7.0</td><td>25</td>
</tr>

<tr>
<td><b>C</b></td><td>0.50-20</td>
<td>4.5</td><td>160</td>
<td>8.0</td><td>40</td>
</tr>

<tr>
<td><b>D</b></td><td>0.75-16</td>
<td>6.0</td><td>200</td>
<td>9.0</td><td>50</td>
</tr>

<tr>
<td><b>E</b></td><td>1.0-14</td>
<td>8.0</td><td>250</td>
<td>10.0</td><td>&nbsp;</td>
</tr>

<tr>
<td><b>F</b></td><td>1.5-24</td>
<td>10.0</td><td>320</td>
<td>5.0HD</td><td>&nbsp;</td>
</tr>

<tr>
<td><b>G</b></td><td>&nbsp;</td>
<td>&nbsp;</td><td>500</td>
<td>6.0HD</td><td>&nbsp;</td>
</tr>

<tr>
<td><b>H</b></td><td>&nbsp;</td>
<td>&nbsp;</td><td>&nbsp;</td>
<td>7.0HD</td><td>&nbsp;</td>
</tr>

<tr>
<td><b>S</b></td><td colspan="5"><div align="center">Special</div></td>
</tr>
</tbody>
</table>
</div>


<div id="cpdl4"></div>
<div id="div1">
  <h4>Features</h4>
  <p><span id="span3"><b>S</b></span><span id="span4">sleeve</span></p>
  <p><span id="span3"><b>W</b></span><span id="span4">water-cooled</span></p>
  <p><span id="span3"><b>C</b></span><span id="span4">shaft clamp</span></p>
  <p><span id="span3"><b>I</b></span><span id="span4">electrical isolation </span></p>
  <p><span id="span3"><b>Un</b></span><span id="span4">number of union services</span></p>
  <p><span id="span3"><b>P</b></span><span id="span4">pulley</span></p>

</div>

</body>
</html>
