<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>订购Ferrotec的磁流体密封产品</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--如何订购-->

<div id="yylybanner">订购Ferrotec的磁流体密封产品</div>

<div id="div0">
<p>在Ferrotec，我们致力于提供业界领先的客户服务，我们希望能为您选购您需要的磁流体密封产品提供方便。利用网站，您可以通过三种方式选择您的密封产品：</p>
</div>

<div id="div1">
  <p><span id="span1"><b> 1.</b></span><span id="span2"><b>选择我们标准密封件清单里的产品。</b><br /></span></p>
  <p><span id="span1"><b> 2.</b></span><span id="span2"><b>使用我们的询价过程定制密封产品。 </b><br />30多年来我们一直为世界上最苛刻的应用问题而专门生产旋转密封装置，我们了解如何解决您的问题，为此我们设计了在线询价表以简化程序。当您要求我们为您的需求准备报价时，我们的工程师会尽力评估您的特殊要求。根据不同的解决方案和问题的复杂性，您的项目可能需要数周的开发时间，我们的工程师努力工作以确保Ferrotec的产品能提供最好的性能和最高水平的可靠性。一旦您完成询价表，Ferrotec会派出一个客户代表与您跟进联络，可能会与你讨论更多细节。</span></p>
<p><span id="span1"><b> 3.</b></span><span id="span2"><b>直接联系Ferrotec客户代表。</b> <br />如果您需要面对面的帮助以确定您的需求，你可以使用电话或电子邮件，与Ferrotec的客户代表进行直接交流。
在这里可以找到Ferrotec磁流体密封专家的联系信息。
.</span></p>
</div>
<div id="cpdl3"></div>

<div id="div1">
<h4>了解Ferrotec磁流体密封装置的产品号</h4>
<br />
<p>Ferrotec的磁流体密封传动装置采用了产品型号与零件编号相组合的识别方式。因此，了解产品号可以帮助您了解密封件的许多特点</p>
<p><b><a href="/content/howtoorder1">基于英制的Ferrotec磁流体密封件？&nbsp;&raquo;</a></b></p>
<p><b><a href="/content/howtoorder2">基于公制的Ferrotec磁流体密封件？&nbsp;&raquo;</a></b></p>
</div>

</body>
</html>
