<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Metric Feedthrough</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--如何订购链接2-->

<div id="yylybanner">Metric Feedthrough</div>


<div id="div1">
<p>Note: Although codes exist for many options, not all combinations of options are available.</p>
</div>
<div id="cpdl4"></div>

<div id="div1">
  <h4>Shaft type</h4>
  <p><span id="span3"><b>S</b></span><span id="span4">Solid Shaft</span></p>
  <p><span id="span3"><b>H</b></span><span id="span4">Hollow Shaft</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Mounting</h4>
  <p><span id="span3"><b>F</b></span><span id="span4">Flange</span></p>
  <p><span id="span3"><b>M</b></span><span id="span4">mini-flange</span></p>
  <p><span id="span3"><b>N</b></span><span id="span4">nut</span></p>
  <p><span id="span3"><b>S</b></span><span id="span4">screw</span></p>
  <p><span id="span3"><b>T</b></span><span id="span4">sleeve</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Fluid</h4>
  <p><span id="span3"><b>F</b></span><span id="span4">fluorocarbon based (reactive gasses)</span></p>
  <p><span id="span3"><b>L</b></span><span id="span4">standard hydrocarbon </span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Shaft Diameter</h4>
  <p><span id="span3"><b>004</b></span><span id="span4">sizes displayed in millimeters</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Cooling / Clamp</h4>
  <p><span id="span3"><b>C</b></span><span id="span4">clamp</span></p>
  <p><span id="span3"><b>M</b></span><span id="span4">water cooling and clamp </span></p>
  <p><span id="span3"><b>N</b></span><span id="span4">no water cooling, no clamp </span></p>
  <p><span id="span3"><b>W</b></span><span id="span4">water cooling</span></p>

</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Bearing configuration</h4>
  <p><span id="span3"><b>C</b></span><span id="span4">both on atmosphere side </span></p>
  <p><span id="span3"><b>H</b></span><span id="span4">heavy duty</span></p>
  <p><span id="span3"><b>N</b></span><span id="span4">standard (vacuum and atmosphere sides)</span></p>

</div>

</body>
</html>
