<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>马达集成的磁流体产品</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--马达集成的磁流体产品-->

<div id="yylybanner">马达集成的磁流体产品</div>

<div id="div0">
<p>Virtually every Ferrotec
vacuum rotary seal customer connects their feedthrough to a motor. In
most applications, this integration process requires the customer to
identify and source a motor that meets their specifications and then
physically couple the motor with the spindle of their Ferrofluidic
seal. In addition to the time and effort required to integrate the two
components, this approach introduces potential failure points.</p>
<br />
<p>Problems
can arise from backlash in transmissions or couplings, mismatched
components or power ratings, poor precision, or drive components that
just don&rsquo;t fit.</p>
</div>

<div id="cpdl3"></div>

<div id="div1">
<h4>A Better Solution: In-line drive motorized feedthroughs</h4>
<br />
<p>With
Ferrotec's motor-integrated feedthroughs, you don't have to wrestle
with integration challenges and potential failure points. FerroDrive
motorized spindles from Ferrotec combine a hermetic Ferrofluidic<sup>&reg;</sup> vacuum feedthrough with a high precision motor and controller to offer
a compact and high performance integrated sealing and rotation system.
Ferrotec's motor-integrated feedthroughs eliminate integration
challenges and the potential mechanical failure points associated with
coupling discrete components. In addition motor-integrated feedthroughs
offer some exciting benefits:</p>
</div>


<div id="div1">
  <p><span id="span1"><b> &bull;</b></span><span id="span2"><b>Reduced size: </b><br /> An in-line motorized feedthrough is compact in comparison to an offset or shaft-coupled drive.</span></p>
  <p><span id="span1"><b> &bull;</b></span><span id="span2"><b>Integrated components: </b><br /> Ferrofluidic in-line motorized feedthroughs feature a brushless
servomotor and matching amplifier with power supply and sinusoidal
commutation. Application appropriate feedback devices and command loops
are incorporated.</span></p>
<p><span id="span1"><b> &bull;</b></span><span id="span2"><b>Improved Performance: </b><br />As
the feedthrough has the motor fully integrated around the shaft rather
than coupled to it, it provides optimum drive-to-load torque efficiency
with no backlash over the life of the product.</span></p>
<p><span id="span1"><b> &bull;</b></span><span id="span2"><b>Flexible Configurations: </b><br /> Direct drive feedthroughs are available with either solid or hollow shafts.</span></p>
<p><span id="span1"><b> &bull;</b></span><span id="span2"><b>Reduced Implementation Time: </b><br /> Supplied ready to install, a FerroDrive saves you time and effort in choosing and integrating components.</span></p>
</div>

<div id="div1">
  <h4>Ferrotec's FerroDrive system</h4>
</div>

<div id="cpjjdetail6">
<div id="cpjjdetailimg7">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/In-line-feedthrough-gs.jpg" height="260" width="279" />
</div>
<div id="cpjjdetailcontent7">
<p>Typical applications that in-line drive motorized feedthroughs are used for include:</p>
<br />
<ul>
<li>Thin film</li>
<li>Optical coating</li>
<li>Ion beam deposition</li>
<li>Ion beam etch</li>
<li>PVD</li>
<li>Sputtering</li>
<li>Ion implantation</li>
<li>Any application where a motor is used, particularly where servo control is necessary</li>
</ul>
</div> 
</div> 

<div id="div1">
  <p>FerroDrives are offered with hollow or solid shafts in sizes up to 2" (50mm).
	  Two different versions are available - a basic motorized spindle which
	  uses a standard controller and Hall effect sensors for simple velocity
	  control (within 2%), and a high precision version which features an encoder
	  and advanced digital controller for extremely accurate speed and position
	  control (within 0.01% or better).</p>
</div>

<div id="cpjjdetail6">
<div id="cpjjdetailimg8">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/1inchgraph260.jpg" height="187" width="260" />
</div>
<div id="cpjjdetailcontent8">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/2inchgraph260.jpg" height="187" width="260" />
</div> 
</div> 

<div id="div1">
<h4>Products, Performance and Specifications</h4>
<br />
<p>This data represents the performance of the complete FerroDrive (motor, feed-through
	  and drive), not simply the motor in isolation.</p>
</div>

<div id="div1">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td valign="top" width="32%">&nbsp;</td>
<td valign="top" width="10%">&nbsp;</td>
<td valign="top" width="10%">&nbsp;</td>
<td valign="top" width="24%"><div align="center"><b>Up to 1" shaft size </b></div></td>
<td valign="top" width="24%"><div align="center"><b>Up to 2" shaft size</b></div></td>
</tr>
<tr>
<td><b>Continuous Stall Torque</b></td>
<td><div align="center">Tc</div></td>
<td><div align="center">oz.&middot;in.</div></td>
<td><div align="center">205</div></td>
<td><div align="center">550</div></td>
</tr>
<tr>
<td><b>Continuous Stall Current</b></td>
<td><div align="center">Ic</div></td>
<td><div align="center">A</div></td>
<td><div align="center">3.6</div></td>
<td><div align="center">10</div></td>
</tr>
<tr>
<td><b>Peak Torque</b></td>
<td><div align="center">Tp</div></td>
<td><div align="center">oz.&middot;in.</div></td>
<td><div align="center">562</div></td>
<td><div align="center">1075</div></td>
</tr>
<tr>
<td><b>Peak Current</b></td>
<td><div align="center">Ip</div></td>
<td><div align="center">A</div></td>
<td><div align="center">10</div></td>
<td><div align="center">20</div></td>
</tr>
<tr>
<td><b>Torque Sensitivity </b>(stall)</td>
<td><div align="center">Kt</div></td>
<td><div align="center">oz.&middot;in./A</div></td>
<td><div align="center">56.8</div></td>
<td><div align="center">54.8</div></td>
</tr>
<tr>
<td><b>Max. load*</b></td>
<td><div align="center">P</div></td>
<td><div align="center">lbs</div></td>
<td><div align="center">125</div></td>
<td><div align="center">225</div></td>
</tr>
<tr>
<td colspan="5">* maximum radial load on process end of shaft 1" from flange</td>
</tr>
</tbody>
</table>
</div>
<div id="cpdl3"></div>
<div id="div1">
<h4>Customization</h4>
<br />
<p>In addition to our standard FerroDrive products we can offer application-specific
	  models. These may include features such as large diameters (up to 6"),
	  shaft modifications, water cooled motors and various positioning options including
	  higher resolution encoders and other types of positioning and control devices
    such as limit switches.</p>
</div>

</body>
</html>
