<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>致冷器编号规则</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--如何订购链接1-->

<div id="yylybanner">致冷器编号规则</div>

<div id="div1">
  <h4>产品序列号</h4>
  <p>
  <span id="span3"><b>95系列</b></span>
  <span id="span5">高可靠性，无铅，最高工作温度200°C 为保证持久运行，产品工作时上限温度推荐为135°C</span>
  <span id="span6">&nbsp;</span>
  </p>
  <p><span id="span3"><b>70系列</b></span><span id="span5">长寿命，无铅，最高工作温度200°C</span><span id="span6">&nbsp;</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>外形</h4>
  <p><span id="span3"><b>1</b></span><span id="span5">标准单级制冷器</span><span id="span6">&nbsp;</span></p>
  <p><span id="span3"><b>2</b></span><span id="span5">未设定</span><span id="span6">&nbsp;</span></p>
  <p><span id="span3"><b>3</b></span><span id="span5">二级制冷器</span><span id="span6">&nbsp;</span></p>
  <p><span id="span3"><b>4</b></span><span id="span5">三级制冷器</span><span id="span6">&nbsp;</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>分类代码</h4>
  <p><span id="span3"><b>&nbsp;</b></span><span id="span5">大和热磁公司内部使用</span><span id="span6">&nbsp;</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>对数</h4>
  <p><span id="span3"><b>&nbsp;</b></span><span id="span5">提供性能信息</span><span id="span6">&nbsp;</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>最大电流</h4>
  <p><span id="span3"><b>&nbsp;</b></span><span id="span5">0.1安培增量</span><span id="span6">&nbsp;</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>基板参数</h4>
  <p>
  <span id="span3"><b>A</b></span>
  <span id="span5">标准类型，平面陶瓷表面，仅适用于微型制冷器，高度公差=+/-0.15mm</span>
  <span id="span6">&nbsp;</span>
  </p>
  <p>
  <span id="span3"><b>B</b></span>
  <span id="span5">多级型，打磨陶瓷表面.
单级制冷器——高度公差=+/-0.025mm
多级制冷器——高度公差=+/-0.1mm</span>
  <span id="span6">&nbsp;</span>
  </p>
  <p><span id="span3"><b>H</b></span>
  <span id="span5">热端面可焊锡的金属化陶瓷基板</span><span id="span6">&nbsp;</span></p>
  <p><span id="span3"><b>C</b></span>
  <span id="span5">冷端面可焊锡的金属化陶瓷基板</span><span id="span6">&nbsp;</span></p>
  <p><span id="span3"><b>M</b></span>
  <span id="span5">热端面和冷端面均可焊锡的金属化陶瓷基板</span><span id="span6">&nbsp;</span></p>

</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>选项</h4>
  <p><span id="span3"><b>S</b></span><span id="span5">RTV硅胶封装</span><span id="span6">&nbsp;</span></p>
  <p><span id="span3"><b>X</b></span><span id="span5">环氧树脂封装</span><span id="span6">&nbsp;</span></p>
</div>

</body>
</html>
