<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>致冷器编号规则</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--如何订购链接1-->

<div id="yylybanner">致冷器编号规则</div>

<div id="div1">
  <h4>Product Line</h4>
  <p>
  <span id="span3"><b>95-series</b></span>
  <span id="span5">High Reliability, Lead-Free, 200°C Maximum process temperature - During normal operation we generally recommend an upper limit of 135°C for sustained operation</span>
  <span id="span6">&nbsp;</span>
  </p>
  <p><span id="span3"><b>70-series</b></span><span id="span5">Long life, lead-free, 200°C Max</span><span id="span6">&nbsp;</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Shape</h4>
  <p><span id="span3"><b>1</b></span><span id="span5">Standard single-stage module</span><span id="span6">&nbsp;</span></p>
  <p><span id="span3"><b>2</b></span><span id="span5">undesignated</span><span id="span6">&nbsp;</span></p>
  <p><span id="span3"><b>3</b></span><span id="span5">2 stage module</span><span id="span6">&nbsp;</span></p>
  <p><span id="span3"><b>4</b></span><span id="span5">3 stage module</span><span id="span6">&nbsp;</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Classification Number</h4>
  <p><span id="span3"><b>&nbsp;</b></span><span id="span5">Number for Ferrotec internal use</span><span id="span6">&nbsp;</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Number of Couples</h4>
  <p><span id="span3"><b>&nbsp;</b></span><span id="span5">May provide additional performance information</span><span id="span6">&nbsp;</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Maximum Current</h4>
  <p><span id="span3"><b>&nbsp;</b></span><span id="span5">0.1 Ampere Increments</span><span id="span6">&nbsp;</span></p>
</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Substrate specification</h4>
  <p>
  <span id="span3"><b>A</b></span>
  <span id="span5">Standard type, plain ceramic surface applied for miniature modules only — height toleratnce = +/- 0.15 mm </span>
  <span id="span6">&nbsp;</span>
  </p>
  <p>
  <span id="span3"><b>B</b></span>
  <span id="span5">Lapped type, plain ceramic surface.
Single stage modules — height tolerance = +/- 0.025 mm
Multi stage modules — height tolerance = +/- 0.10 mm</span>
  <span id="span6">&nbsp;</span>
  </p>
  <p><span id="span3"><b>H</b></span>
  <span id="span5">Solderable, metalized ceramic on hot side external surface</span><span id="span6">&nbsp;</span></p>
  <p><span id="span3"><b>C</b></span>
  <span id="span5">Solderable, metalized ceramic on cold side external surface</span><span id="span6">&nbsp;</span></p>
  <p><span id="span3"><b>M</b></span>
  <span id="span5">Solderable, metalized ceramic on both hot and cold side external surfaces</span><span id="span6">&nbsp;</span></p>

</div>

<div id="cpdl4"></div>
<div id="div1">
  <h4>Options</h4>
  <p><span id="span3"><b>S</b></span><span id="span5">RTV Silicon Seal</span><span id="span6">&nbsp;</span></p>
  <p><span id="span3"><b>X</b></span><span id="span5">Epoxy seal</span><span id="span6">&nbsp;</span></p>
</div>

</body>
</html>
