<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>设计定制产品</title>
    <%= stylesheet_link_tag 'content' %>
  </head>
  
  <body onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
    
    <div id="yylybanner">设计定制产品</div>
    
    <div id="quote">
      <p>选择型定制解决方案，您正在寻找：</p>
    </div>
    
    <div id="vf2">
      <span id="span2">  
      <a title="Custom Ferrofluidic Seals and Rotary Feedthroughs" href="/content/vfresolvent" >
        <img src="/images/11.jpg"  alt="磁流体密封" height ="80" width ="100" border="0"  />
      </a>
      </span>
      
      <span id="span2">  
      <a title="Integrated Subsystem Assembly" href="/content/vfresolvent">
        <img src="/images/12.jpg"  alt="子系统s" height ="80" width ="100" border="0"  />
      </a>
      </span>
      
      <span id="span2">  
      <a title="Gas and Vacuum Unions" href="/content/vfresolvent">
        <img src="/images/13.jpg"  alt="气体单元" height ="80" width ="100" border="0" />
      </a>
      </span>
      
      <span id="span2">  
      <a title="Other Custom Solution" href="/content/vfresolvent">
        <img src="/images/14.jpg"  alt="其他" height ="80" width ="100" border="0"  />
      </a>
      </span>
      
    </div>
    <div id="vf2">
      <span id="span1">  
        磁流体密封
      </span>
      
      <span id="span1">  
        子系统
      </span>
      
      <span id="span1">  
        气体单元
      </span>
      
      <span id="span1">  
        其他
      </span>

    </div>
    
    <div id="vfline"></div>
    
    <div id="vfcontent">
    <h2>关于您的选择</h2>
    <p>当Ferrotec代表与您联系，他们将使用您提供的信息，以便更好地识别您地解决方案。</p>
    <p></p>
    <ul id="vful">
    <li id="vfli">选择产品地类型，您需要配置可以帮助我们确定正确地问题要问。<br /></li><br />
    <li id="vfli">您不必回答每一个问题或完成整个表格。如果您不确定地具体细节，请将它留空。<br /></li><br />
    <li id="vfli">只要我们有你的联系信息，Ferrotec代表将能够协助设定Ferrotec Ferrofluidic<sup>&reg;</sup>解决方案。 </li>
    </ul>
    </div>
 
  </body>
</html>
