<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>Design a Custom Product</title>
    <%= stylesheet_link_tag 'content' %>
  </head>
  
  <body onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
    
    <div id="yylybanner">Design a Custom Product</div>
    
    <div id="quote">
      <p>Select the type of customized solution that you are looking for：</p>
    </div>
    
    <div id="vf2">
      <span id="span2">  
      <a title="Custom Ferrofluidic Seals and Rotary Feedthroughs" href="/content/vfresolvent_en" >
        <img src="/images/11.jpg"  alt="Custom Ferrofluidic Seals" height ="80" width ="100" border="0"  />
      </a>
      </span>
      
      <span id="span2">  
      <a title="Integrated Subsystem Assembly" href="/content/vfresolvent_en">
        <img src="/images/12.jpg"  alt="Ferrotec Integrated Sub-Assemblies" height ="80" width ="100" border="0"  />
      </a>
      </span>
      
      <span id="span2">  
      <a title="Gas and Vacuum Unions" href="/content/vfresolvent_en">
        <img src="/images/13.jpg"  alt="Custom Gas and Vacuum Unions" height ="80" width ="100" border="0" />
      </a>
      </span>
      
      <span id="span2">  
      <a title="Other Custom Solution" href="/content/vfresolvent_en">
        <img src="/images/14.jpg"  alt="Other Customized Products" height ="80" width ="100" border="0"  />
      </a>
      </span>
      
        </div>
    <div id="vf2">
      <span id="span1">  
        Ferrofluidic Seal
      </span>
      
      <span id="span1">  
        Subsystem
      </span>
      
      <span id="span1">  
        Gas Union
      </span>
      
      <span id="span1">  
        Other
      </span>
    </div>
    
    <div id="vfline"></div>
    
    <div id="vfcontent">
    <h2>About Your Selection</h2>
    <p>When a Ferrotec representative contacts you, they will use the information you provide to better identify your solution.</p>
    <p></p>
    <ul id="vful">
    <li id="vfli">Selecting the type of product that you need to configure helps us identify the right questions to ask. 
<br /></li><br />
    <li id="vfli">You don't need to answer every question or complete the entire form. If you are uncertain of a specific detail, leave it blank. 
<br /></li><br />
    <li id="vfli">As long as we have your contact information, a Ferrotec representative will be able to assist with configuring your Ferrotec Ferrofluidic<sup>&reg;</sup> solution.
 </li>
    </ul>
    </div>
 
  </body>
</html>
