<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>改装磁流体密封产品</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--改装磁流体密封产品-->

<div id="yylybanner">改装磁流体密封产品</div>

<div id="div0">
<p>As the industry leader in rotary seals, Ferrotec understands the requirements of your performance application. Although some equipment may not have been originally designed using a Ferrofluidic seal, sometimes a Ferrotec seal eliminate operational hassles and improve system performance.</p>
<br />
<p>Ferrotec offers retrofit and upgrade solutions for many vacuum manufacturing systems. If you don't see your specific system listed, contact your Ferrotec representative and find out about the solution that is right for you.</p>

</div>
<div id="cpdl3"></div>


<div id="cpjjdetail6">
<div id="cpjjdetailimg6">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/bbuttonVarian_photo.jpg" height="130" width="260" />
</div>
<div id="cpjjdetailcontent6">
<h4>Ferrofluidic<sup>&reg;</sup> seals extend the productive life of your Varian 3000 Series sputtering systems.</h4>
<br />
<ul>
<li>Smooth Mechanical Operation - eliminate binding and drag</li>
<li>Improved Product Quality &ndash; reduce particles and contaminants</li>
<li>Longer Life &ndash; extremely durable non-contacting Ferrofluidic seals</li>
</ul>
</div> 
</div> 


<div id="div1">
<h4>Ferrofluidic Replacement Seals</h4><br />
<p>Ferrotec&rsquo;s co-axial Ferrofluidic sealing
	  packages are direct replacements for the maintenance-prone sealing configurations
	  originally installed in the Varian 3000 Series sputtering systems. The unique
	  benefits of Ferrofluidic sealing are combined with robust edge welded bellows
	  seals to produce a co-axial rotary/linear sealing system that far exceeds
	  OEM performance levels of the original non-Ferrofluidic seal installed. The
	  inherent ability of the magnetic liquid seal to maintain vacuum integrity
	  during rotary motion prevents vacuum contaminants from affecting the process
	  and degrading product quality. The preloaded angular contact ball bearings
	  and the durable linear bearings support the weight of the transfer and pressure
	  plates while permitting smooth non-binding actuation. The non-contacting,
	  non-wearing Ferrofluidic seal ensures long, maintenance free life and freedom
	  from unscheduled downtime due to seal related failure.</p>
</div>

<div id="cpjjdetail6">
<div id="cpjjdetailcontent6">
<h4>Principle of Magnetic Liquid Sealing</h4><br />
<p>Ferrofluidic sealing technology takes advantage of the response of a magnetic fluid to an applied magnetic field. It uses a magnet with magnetically permeable north and south pole pieces and a magnetically permeable shaft to create a permanent magnetic circuit. The magnetic flux is concentrated in the gap under each pole and when ferrofluid is applied to this gap it assumes the shape of a liquid o-ring and produces a hermetic seal.</p>
<p>Ferrofluidic feedthroughs offer many benefits including hermetic sealing, long life, virtually 100% torque transmission and smooth operation. They are non-contaminating, highly reliable and can operate at high speeds.</p>
</div> 
<div id="cpjjdetailimg6">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/Varian_schematic.jpg" height="273" width="265" />
</div>
</div> 

<div id="div1">
<h4>Repair and Exchange Program</h4>
<br />
<p>Even Ferrofluidic seals need proper maintenance and repair and you should
	  always return your Ferrofluidic seals to Ferrotec for expert repair or exchange
	  services. Only Ferrotec guarantees that your seal will be re-built to the
	  same specifications and quality as when it was first manufactured and only
	  direct replacement or the latest improved components are ever used. Most importantly,
	  only Ferrotec manufactures the ferrofluid selected specifically for this magnetic
	  seal design and product application.</p>
<br />
<p>With 30 years&rsquo; experience in the semiconductor industry, we understand
	  the importance of maximum uptime and eliminating unscheduled downtime. That
	  is why we have further developed our exchange program. Rather than simply
	  repairing your seal, which takes days or even weeks depending on the replacement
	  part requirements, we keep a stock of exchange seals in house and can dispatch
	  one the same day or the next working day from receipt of your order. This
	  means that you maximize uptime and know that your feedthrough is either new
	  or fully remanufactured and supplied as new. Remanufactured products are completely
	  disassembled, every part cleaned, all worn and consumable parts replaced and
	  the fluid replenished. Finally, once re-assembled, they are required to pass
	  exactly the same stringent dynamic vacuum, leak and QC tests and inspection
	  as new products. Any feedthrough from our exchange program is returned to
	  you with the same warranty that it had when new &ndash; a full 12 months.</p>
<br />
<p><b>Ordering is simple</b> &ndash; just ask your local customer service representative
      for part number 116533X.</p>
<br />
<p>You can also <a href="http://www.ferrotec.com/downloads/Varian_Retrofit.pdf">download the Ferrotec Retrofit Seal flyer (pdf file 130K)</a> for more information.</p>
<br />
<h4>Other Retrofit Seals</h4>
<br />
<p>A range of other retrofit seals for products from Perkin
	  Elmer, Applied Materials, Balzers, CHA, Materials Research and others.
	  Please call for futher details.</p>
</div>

</body>
</html>
