<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>RoHS认证</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--RoHS-->

<div id="yylybanner">RoHS认证</div>

<div id="div0">
<p>RoHS is the
acronym for Restriction of Hazardous Substances. RoHS, also known as
Directive 2002/95/EC, originated in the European Union and restricts
the use of six hazardous materials found in electrical and electronic
products. All applicable products in the EU market after July 1, 2006
must pass RoHS compliance. The six substances banned under RoHS are
lead (Pb), mercury (Hg), cadmium (Cd), hexavalent chromium (Cr-VI),
polybrominated biphenyls (PBB) and polybrominated diphenyl ethers
(PBDE).</p>
</div>
<div id="cpdl4"></div>
<div id="div1">
<h4>Ferrotec Thermoelectric Modules and RoHS Compliance</h4>
<br />
<p>We
understand that for many of our customers, RoHS compliance is essential
for their products that use thermoelectric modules. At Ferrotec we have
been engaged in comprehensive transition to ensure that all of our
thermoelectric modules comply with the RoHS standards. If you have
questions about your specific module, contact your Ferrotec
representative.</p>
</div>


</body>
</html>
