<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>RoHS认证</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--RoHS-->

<div id="yylybanner">RoHS认证</div>

<div id="div0">
<p>RoHS是危险物品限制的简称。也可以认为是起源于欧盟的2002/92/EC直接标准，它限制了在电器和电子产品中出现的六种危险材料的使用。2006年7月1号以后欧盟市场上所有产品都必须通过RoHS标准。该标准禁止的六种材料为：铅（Pb）、汞（Hg）、镉（Cd）、六价铬化物（Cr-VI）、聚溴联苯（PBB）、聚溴二本醚（PBDE）。</p>
</div>
<div id="cpdl4"></div>
<div id="div1">
<h4>大和热磁公司热电产品和RoHS标准</h4>
<br />
<p>对客户而言，应用了热电制冷器的所有产品都必须通过RoHS标准认证。我们大和热磁公司已经进行了产品的全面过渡以确保所有热电制冷器都符合RoHS标准。如果您对所感兴趣产品有任何疑问，请联系大和热磁公司相关人员。</p>
</div>


</body>
</html>
