<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>专用磁流体密封产品</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--专用磁流体密封产品-->

<div id="yylybanner">专用磁流体密封产品</div>

<div id="div0">
<p>Ferrotec offers a range of Ferrofluidic seals designed for specialized applications. These allow engineers to dramatically improve the quality of many processes and the performance of critical products. Ferrofluidic zero-leakage sealing capability can be incorporated in a broad range of mechanical configurations and addresses wide pressure, speed and temperature sealing challenges.</p>
<p>Because of the broad variety of installations where Ferrofluidic seals can be used, many are application-specific designs. Typical examples of Ferrofluidic specialty seals include:</p>
</div>


<div id="cpjjdetail">
<div id="cpjjdetailimg5">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/gt6.jpg" alt="" width="150" height="143" />
</div>
<div id="cpjjdetailcontent5">
<h4>Industrial seals</h4><br />
<p>The GT6 range of industrial seals offers a hermetic seal for low pressure fans, blowers and vertical pumps in critical applications. These include processes such as hydrocarbon processing where they can prevent the release of VOCs into the atmosphere, nuclear applications and other critical processes where it is essential to prevent either contaminant ingress or the emission of process gases.</p>
</div>
</div>


<div id="cpjjdetail">
<div id="cpjjdetailimg5">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/airborne.jpg" alt="" width="150" height="97" />
</div>
<div id="cpjjdetailcontent5">
<h4><a href="http://www.ferrotec.com/products/ferrofluidic/seals/specialtyAero/">Airborne seals</a></h4><br />
<p>Ferrofluidic seals are used in many military and surveillance aircraft for the protection of optical devices and sensitive electronic instrumentation. Ferrofluidic seals can be extremely compact and provide reliable operation and long service life under extreme conditions. <a href="http://www.ferrotec.com/products/ferrofluidic/seals/specialtyAero/">Read&nbsp;More&nbsp;&raquo; </a></p>
</div>
</div>


<div id="cpjjdetail">
<div id="cpjjdetailimg5">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/xrayanode.jpg" alt="" width="150" height="114" />
</div>
<div id="cpjjdetailcontent5">
<h4>Rotating X-ray anodes</h4><br />
<p>Ferrofluidic seals can be used in x-ray anodes which rotate at high speeds inside vacuum chambers. They are actively cooled while rotating to remove the intense heat created by high power x-ray generation.</p>
</div>
</div>

<div id="cpjjdetail">
<div id="cpjjdetailimg5">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/optical.jpg" alt="" width="150" height="66" />
</div>
<div id="cpjjdetailcontent5">
<h4>Optical coating</h4><br />
<p>Ferrofluidic feedthroughs are ideal for optical coating applications. These may include fiber optic filter manufacturing where high speed, large diameter hollow shaft feedthroughs are used, or optical fiber manufacturing where the hermetic ferrofluid seal ensures that atmospheric moisture cannot enter the process and undermine the quality of the deposited film.</p>
</div>
</div>


<div id="cpjjdetail">
<div id="cpjjdetailimg5">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/lamp.jpg" alt="" width="150" height="224" />
</div>
<div id="cpjjdetailcontent5">
<h4>Lamp manufacturing</h4><br />
<p>Ferrofluidic sealing delivers unmatched performance in both pressure and vacuum sealing of lamps for military, medical, commercial and automotive lighting. A non-wearing, maintenance free Ferrofluidic seal replaces maintenance-intensive oil plates and dynamic elastomer seals which can cause downtime and allow particulate and oil contamination of the lamp during production.</p>
</div>
</div>


</body>
</html>
