<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Sealing Sub-Assemblies</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--密封子系统-->

<div id="yylybanner">Sealing Sub-Assemblies</div>

<div id="cpjjdetail6">
<div id="cpjjdetailcontent9">
<p>Discover the benefits of having Ferrotec become your engineering partner. With our extensive experience in vacuum manufacturing, sealing and robotic systems, Ferrotec can help you engineer integrate your components into streamlined sub-assemblies that deliver measurable product benefits.</p>
</div> 
<div id="cpjjdetailimg9">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/waferHandlerBButton.jpg" height="130" width="260" />
</div>
</div> 

<div id="div1">

<p><span id="span1"><b> &bull;</b></span><span id="span2"><b>Reduce your design and development time</b><br /> Partnering with Ferrotec enables your internal engineering staff to focus on the core development of your product.</span></p>
<p><span id="span1"><b> &bull;</b></span><span id="span2"><b>Reduce your costs</b><br /> From motorized integrated drive-throughs to closely matching component
selections, when we are able to look at your entire engineering
challenge, we can engineer an integrated product that performs better.</span></p>
</div>


<div id="div1">
<p>From
concept to completion, Ferrotec offers the engineering, design and
manufacturing capabilities to ensure that your sealing sub-system
delivers world-class performance. Ferrotec was the first company to
manufacture magnetic liquid seals and has spent the last 30 years
further developing and advancing the technology. With 30 years&rsquo; proven
track record of supplying seals to the semiconductor, optical,
aero-space, medical, defense, lamp manufacturing and other industries
you can be sure that our expertise is second to none. Whether you need
us to manufacture to an existing sub-system design, or need a new
state-of-the-art Ferrotec custom design, Ferrotec is your ideal partner
for expertly manufactured and tested sealing sub-assemblies, shipped
dock-to-stock to meet your production needs.</p>
<br />
<p>We apply the same stringent manufacturing and control processes developed for our Ferrofluidic&reg; seals
	  to all our sub-systems. Our design engineers work closely with you to develop a thorough product specification.</p>
<p>Manufacturing engineers develop detailed
	  procedures to ensure that all specifications are met and a complete manufacturing
	  control document is produced. Each part in the assembly is carefully inspected
	  using the most advanced quality practices and thoroughly cleaned before
	  assembly in our cleanroom. Highly skilled manufacturing technicians assemble
	  your sub-system with care and precision. Finally, completed assemblies
	  are thoroughly inspected and tested to ensure that all operational and dimensional
	  specifications are correct before shipping to your manufacturing floor.</p>
</div>
<div id="cpdl3"></div>
<div id="div1">
<h4>Ferrotec's Sub-system Manufacturing Experience</h4>
<br />
<p>Ferrotec has experience manufacturing a broad range
	  of subsystems for semiconductor, optical, aerospace, medical, defense,
	  lamp manufacturing and other applications. Some examples include:</p>
<br />
<p><b>Servo-controlled rotary feedthroughs</b><br /> A custom servo-controlled rotary feedthrough
	  offers precise speed and position control by combining servo control and
	  high resolution encoder feedback with a non-wearing high vacuum Ferrofluidic
	  rotary feedthrough. Speed accuracy of &plusmn;0.1% is combined with smooth rotation.</p>
<br />
<p><b>Servo-controlled rotary linear coaxial Ferrofluidic feedthroughs with precision position control</b><br /> These sub-systems combine non-wearing Ferrofluidic rotary
	  sealing with smooth linear actuation. Servo control with high resolution
	  encoder feedback offers precise speed, positioning and indexing control. It
	  also offers high load capacity and torsional stiffness.</p>
<br />
<p><b>Wafer handling arm</b><br /> The wafer handling arm sub-assembly is integrated into
	  a cluster tool where it positions 200mm and 300mm wafers, picking and placing
	  them at different locations for processing. The sub-assembly features a
	  Ferrofluidic coaxial feedthrough powered by a brushed DC motor and a harmonic
	  drive, directly integrated with the precision in-vacuum components and other
	  hardware demanded by the system.</p>
<br />
<p><b>Rotary Linear Wafer Positioner</b><br /> Ferrotec built this 300mm rotary linear wafer
	  positioning assembly to a customer&rsquo;s existing design and specification.
	  The sub-system picks up, rotates and lowers the wafers, providing motion in
	  the z-axis as well as rotary motion. Initially Ferrotec worked closely with
	  the customer to develop a Ferrofluidic seal for this application. Ferrotec
	  later value engineered and manufactured the complete sub-system, and now takes
	  care of part procurement, supply chain management, building and testing the
	  system.</p>
</div>

</body>
</html>
