<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>专用磁流体密封产品</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--专用磁流体密封产品-->

<div id="yylybanner">专用磁流体密封产品</div>

<div id="div0">
<p>Ferrotec提供了多样化的磁流体密封设备的设计。这使工程师能够大大提高生产过程的质量控制能力和关键产品的性能。 磁流体零泄漏的密封能力使其可以用于许多机械设备，并且满足广泛的压力、速度和温度范围内的密封要求。</p>
<p>由于磁流体密封装置可用于多种多样的应用问题，其中许多设计都是直接针对应用的。特种磁流体密封的典型例子包括：</p>
</div>


<div id="cpjjdetail">
<div id="cpjjdetailimg5">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/gt6.jpg" alt="" width="150" height="143" />
</div>
<div id="cpjjdetailcontent5">
<h4>工业密封件</h4><br />
<p>GT6系列的工业密封件为低压风机，鼓风机和立式泵提供了密封产品。该系列密封件在工业界有许多应用，如碳氢化合物的加工过程中用于防止挥发性有机化合物进入大气层，核应用和其他关键过程中用于防止污染物的渗入或其中释放气体的排放等。</p>
</div> 
</div> 


<div id="cpjjdetail">
<div id="cpjjdetailimg5">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/airborne.jpg" alt="" width="150" height="97" />
</div>
<div id="cpjjdetailcontent5">
<h4><a href="http://www.ferrotec.com/products/ferrofluidic/seals/specialtyAero/">机载密封</a></h4><br />
<p>磁流体密封可以用于保护军事侦察机中的光学设备以及敏感的电子仪器。 磁流体密封非常紧凑，可以在极端条件下提供长期、可靠的运行。<a href="http://www.ferrotec.com/products/ferrofluidic/seals/specialtyAero/">&nbsp;了解更多&nbsp;&raquo; </a></p>
</div> 
</div> 


<div id="cpjjdetail">
<div id="cpjjdetailimg5">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/xrayanode.jpg" alt="" width="150" height="114" />
</div>
<div id="cpjjdetailcontent5">
<h4>旋转X射线阳极</h4><br />
<p>磁流体密封可用于真空室内高速旋转的X射线阳极。他们可以在旋转的同时有效地冷却，以吸收高功率X射线所产生的高热量。</p>
</div> 
</div> 

<div id="cpjjdetail">
<div id="cpjjdetailimg5">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/optical.jpg" alt="" width="150" height="66" />
</div>
<div id="cpjjdetailcontent5">
<h4>光学镀膜</h4><br />
<p>磁流体密封装置用于光学镀膜是非常理想的。这些应用包括光学过滤器，其中使用了大直径空心轴密封装置；或光纤制造，使用磁流体密封可以确保大气中的水分不进入进程以免破坏沉积膜的质量。</p>
</div> 
</div> 


<div id="cpjjdetail">
<div id="cpjjdetailimg5">
<img src="http://www.ferrotec.com/images/products/ferrofluidic/lamp.jpg" alt="" width="150" height="224" />
</div>
<div id="cpjjdetailcontent5">
<h4>照明灯制造</h4><br />
<p>磁流体密封为有压和真空环境下军事、医疗、商业和汽车等不同照明灯具的生产提供了无与伦比的密封性能。密封油和橡胶动密封件需要经常检修和维护，会导致停机；并且灯具生产过程中还存在粒子和油污染的问题。如果用无磨损、免维护的磁流体密封代替，就可以解决这些问题，提高生产效率和产品质量。</p>
</div> 
</div> 


</body>
</html>
