<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>如何确定密封类型</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body2" onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">
<!--专用磁流体密封产品-->

<div id="yylybanner">如何确定密封类型</div>

<div id="div0">
<p>以下是当你选择密封类型时，需要考虑的重要因素。</p>
</div>
<div id="cpdl3"></div>
<div id="div1">
  <p><h5>尺寸要求</h5></p>
  <br />
  <p>密封装置的大小和可用空间是一个您要考虑的重要因素。选择标准的磁流体旋转密封装置，你需要了解一些信息，例如：</p>
  <br />
  <p><span id="span1"><b> &bull;</b></span><span id="span2">您需要实心轴或空心轴</span></p>
  <p><span id="span1"><b> &bull;</b></span><span id="span2">您的主轴尺寸，或需要密封的孔洞的大小</span></p>
  <p><span id="span1"><b> &bull;</b></span><span id="span2">密封安装的特点，如外部法兰，密封套筒，或螺纹安装</span></p>
</div>

<div id="div1">
  <p>Ferrotec的磁流体真空密封产品都有相应的照片或图形，显示了设备的尺寸和性能。</p>
</div>

<div id="div1">
  <p>这些图显示了不同类型密封产品的重要特征。对空心轴产品，还给出了轴接口的三维信息。</p>
</div>

<div id="div1">
  <p>轴直径4英寸以上的产品都提供了标准外卡式螺纹安装应该选用的安装螺母和垫圈。列出了安装孔直径和螺母预紧扭矩，以避免安装过程中的损坏。</p>
</div>
<div id="cpdl3"></div>
<div id="div1">
  <p><h5>应用环境的要求</h5></p>
  <br />
  <p>根据你的磁流体密封产品运行的环境，Ferrotec将为您提出建议，确保密封装备的正确使用，并达到最佳性能。需要考虑的因素包括：</p>
  <br />
  <p><span id="span1"><b> &bull;</b></span><span id="span2">是否您的密封装备处于有害气体或反应气体环境</span></p>
  <p><span id="span1"><b> &bull;</b></span><span id="span2">受热状态和密封的工作温度</span></p>
  <p><span id="span1"><b> &bull;</b></span><span id="span2">可能会影响你的选择的任何其他环境因素</span></p>
</div>
<div id="cpdl3"></div>
<div id="div1">
  <p><h5>性能的要求</h5></p>
  <br />
  <p>您的性能需求也将影响您的选择。这些因素包括：</p>
  <br />
  <p><span id="span1"><b> &bull;</b></span><span id="span2">轴转速</span></p>
  <p><span id="span1"><b> &bull;</b></span><span id="span2">负载情况</span></p>
  <p><span id="span1"><b> &bull;</b></span><span id="span2">扭矩规格</span></p>
  <p><span id="span1"><b> &bull;</b></span><span id="span2">压力要求</span></p>
</div>
<div id="div1">
  <p>您选择某个特定应用的标准密封件所需要的资料都可以在每一个产品后附属的表格和图形中找到。以下是对产品信息的简要说明。增强功能，例如水冷功能可以延长某些产品的工作能力。如果你的需求超过了我们提供的参考数据，请与离您最近的销售工程师联系。</p>
</div>
<div id="div1">
  <p><strong>轴速度.</strong>由于独特的非接触式密封设计，磁流体密封装置适用的速度范围很广。目录列出了每个密封产品无负荷时的最大速度。这是没有外加载荷时的最高安全速度。</p>
</div>
<div id="div1">
  <p><strong>负载量.</strong>密封设备的负载量受到多个因素的影响，如轴的速度，安装的方向和负载的放置等。每种密封产品都会给出一个负载的参考量，即轴转速在额定每分钟1000转的情况下的负载量。该参考负载量通常被定义为转速为1000转、轴承寿命为5000小时的负载。在某些情况下承载能力不一定是由转速限制的。因此，为安全起见，在不超过1000转的情况下负载量最好不要超过该参考值。如果您的轴速度远低于1000转，你希望使用超过目录中所列的参考载荷；或者如果您的轴转速超过1000转，但低于最高空载转速，您需要了解允许的载荷值。这时，请您就近咨询我们的销售工程师。</p>
</div>
<div id="div1">
  <p>最大推力负荷适用于两个方向。对于较大的产品，真空产生了与轴直径成正比的较大推力负荷，您在计算推力负荷时必须要考虑由此产生的增量。如果有问题，请您联系销售工程师。</p>
</div>
<div id="div1">
  <p>最大径向负荷和弯曲的势头也要考虑。</p>
</div>
<div id="div1">
  <p>注：在同一问题中，最大径向和推力负荷不应该合并。对于组合载荷，请咨询您的销售工程师。</p>
</div>
<div id="div1">
  <p><strong>轴扭矩.</strong>每个密封产品的规格列表都提供了扭矩传输能力的数据。所列出的值是径向载荷的情况下所能提供的最大安全扭矩。</p>
</div>
<div id="div1">
  <p><strong>阻力扭矩.</strong>磁流体密封产品具备了一定的抗旋转能力。这是由粘性阻力和轴承滚动摩擦产生的，通常以盎司/英寸为单位。</p>
</div>
<div id="div1">
  <p>产品的规格表列出了每分钟1000转的高速轴的近似阻力矩。阻力扭矩与轴的速度成正比。不同的速度和不同的敏感性，则扭矩值也不同，具体数据请咨询与您最近的销售工程师。</p>
</div>
<div id="div1">
  <p>每次磁流体密封产品被闲置几天后，初步的脱离扭矩可能稍微有点高。这种情况是正常的，经过数次旋转后即可自行缓解。</p>
</div>
<div id="div1">
  <p>*由于正常的生产上的变数，实际的阻力扭矩可能比额定值更高或更低，变化幅度达30％。</p>
</div>
<div id="div1">
  <p><strong>气体负荷：</strong>磁流体密封通常用于高真空系统中。所给出的气体负荷值是为了协助用户设计真空系统。该数值是磁流体渗透和蒸发而产生的气体生成速率的估计值。</p>
</div>
<div id="div1">
  <p>请注意，这不是一个泄漏率。大气实际上已经被磁流体密封装置有效地屏蔽了。如果用户需要了解磁流体所可能产生的气体的情况，可以采用样本残留气体分析（RGA）方法。您的销售工程师可以为磁流体密封产品提供这样的检测。</p>
</div>
<div id="div1">
  <p>上述数据是用于描述标准磁流体密封装置。如果特殊的工艺条件需要非标准磁流体密封装置，这些值会发生变化。请您联系客户代表进行有关标准件和定制件的讨论。</p>
</div>
</body>
</html>
