<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>专卖店分布</title>
<%= stylesheet_link_tag 'content' %>
<script>
function show(src)
  {var nw=window.open("","","scrollbars=yes,resizable=yes,channelmode");
    nw.document.write("<img src="+src+" onclick=window.close()>")
    nw.document.close();
  }
</script>
</head>
<body style="overflow-x:hidden">
  <div id="yylybanner">专卖店分布</div>
  <!--点击大图自动关闭的代码-->
  <!--window.open("url","name","width=,height=")-->
<div id="zzzsshow">
    <div id="certificate">
        <div id="phone"> <br />
            <a onclick="show('/stores/1.jpg');" style="cursor: pointer;">
                <img border="1px" width="124" height="82" src="/stores/1.jpg" alt="北京永信专卖店">
            </a>
        </div>
        <p id="zztitle">北京永信专卖店</p>
    </div>
    <div id="certificate">
        <div id="phone"> <br />
            <a onclick="show('/stores/2.jpg');" style="cursor: pointer;">
                <img border="1px" width="124" height="82" src="/stores/2.jpg" alt="北京永信专卖店2">
            </a>
        </div>
        <p id="zztitle">北京永信专卖店2</p>
    </div>
    <div id="certificate">
        <div id="phone"> <br />
            <a onclick="show('/stores/4.jpg');" style="cursor: pointer;">
                <img border="1px" width="124" height="82" src="/stores/4.jpg" alt="济南南川专卖店">
            </a>
        </div>
        <p id="zztitle">济南南川专卖店</p>
    </div>
    <div id="certificate">
        <div id="phone"> <br />
            <a onclick="show('/stores/5.jpg');" style="cursor: pointer;">
                <img border="1px" width="124" height="82" src="/stores/5.jpg" alt="济南南川专卖店2">
            </a>
        </div>
        <p id="zztitle">济南南川专卖店2</p>
    </div>
    <div id="certificate">
        <div id="phone"> <br />
            <a onclick="show('/stores/3.jpg');" style="cursor: pointer;">
                <img border="1px" width="124" height="82" src="/stores/3.jpg" alt="大连凯特瑞专卖店">
            </a>
        </div>
        <p id="zztitle">大连凯特瑞专卖店</p>
    </div>

    <div id="certificate">
        <div id="phone"> <br />
            <a onclick="show('/stores/6.jpg');" style="cursor: pointer;">
                <img border="1px" width="124" height="82" src="/stores/6.jpg" alt="安吉德源专卖店">
            </a>
        </div>
        <p id="zztitle">安吉德源专卖店</p>
    </div>
    <div id="certificate">
        <div id="phone"> <br />
            <a onclick="show('/stores/7.jpg');" style="cursor: pointer;">
                <img border="1px" width="124" height="82" src="/stores/7.jpg" alt="安吉德源专卖店">
            </a>
        </div>
        <p id="zztitle">安吉德源专卖店</p>
    </div>
    <div id="certificate">
        <div id="phone"> <br />
            <a onclick="show('/stores/8.jpg');" style="cursor: pointer;">
                <img border="1px" width="124" height="82" src="/stores/8.jpg" alt="安吉德源专卖店">
            </a>
        </div>
        <p id="zztitle">安吉德源专卖店</p>
    </div>
    <div id="certificate">
        <div id="phone"> <br />
            <a onclick="show('/stores/9.jpg');" style="cursor: pointer;">
                <img border="1px" width="124" height="82" src="/stores/9.jpg" alt="安吉德源专卖店">
            </a>
        </div>
        <p id="zztitle">安吉德源专卖店</p>
    </div>
    <div id="certificate">
        <div id="phone"> <br />
            <a onclick="show('/stores/10.jpg');" style="cursor: pointer;">
                <img border="1px" width="124" height="82" src="/stores/10.jpg" alt="安吉德源专卖店">
            </a>
        </div>
        <p id="zztitle">安吉德源专卖店</p>
    </div>
</div>
</body>
</html>
