<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Temperature Controllers</title>
<%= stylesheet_link_tag 'content' %>
</head>
<!--温控器 该风格如果做成动态可参照temostlyproduct-->
<body onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">

  <div id="yylybanner">Temperature Controllers</div>

  <div id="div0">
    <p>Ferrotec&rsquo;s FTC-series of TEC temperature controllers are specially designed for the unique requirements of systems and applications that use peltier coolers for precision temperature control. As a leading supplier of thermoelectric modules, we recognized our customers&rsquo; need for an easy-to-use solution for developing, building, and mass-producing thermal control systems for their TEC application. FTC-series controllers start with cost-effective PWM-based PID controllers with auto-tune and support for bi-directional power control. Next we add sophisticated features like support for programmable scripting for advanced temperature management functionality. Finally, we roll it all up into a flexible, component-based solution that can be integrated directly into your production system.</p>
  </div>

  <div id="cpdl4"></div>
  <div id="div1">
    <h4>Ferrotec offers two models of the FTC-Series temperature controller</h4>
  </div>
  <div id="cpjjdetail6">
    <div id="cpjjdetailimg10">
     <img src="http://www.ferrotec.com/images/products/thermal/teControllerButton.jpg" border="0" alt="" width="100" height="80" />
    </div>
    <div id="cpjjdetailcontent10">
    <p id="titledetail">
      <a href="/content/ftc100">
      <b>Ferrotec's FTC100 Temperature Controller with Panel Interface&nbsp;&raquo;</b>
      </a>
    </p>
    <p id="cpjjsummary"> The FTC100 incorporates a LED display and a panel interface, enabling users to monitor the controller and change settings using buttons on the front of the panel display. The FTC100 also supports configuration using a computer and its integrated RS232 interface. </p>
    <p id="cpjjsummary"><b>&nbsp;&raquo;&nbsp;The FTC100 is a perfect fit for most TEC temperature control applications.</b></p>
    </div>
  </div>
  
  <div id="cpjjdetail6">
  <div id="cpjjdetailimg10">
   <img src="http://www.ferrotec.com/images/ftc200smallButton.jpg" border="0" alt="" width="100" height="80" />
  </div>
  <div id="cpjjdetailcontent10">
  <p id="titledetail">
    <a href="/content/ftc200">
    <b>Ferrotec's FTC200 Temperature Controller for Embedded Applications&nbsp;&raquo;</b>
    </a>
  </p>
  <p id="cpjjsummary">The FTC200 is designed to streamline the process of integrating sophisticated precision temperature control into your volume production system. The FTC200 offers some advanced temperature control features, but can only be configured and monitored through its communications interface using a computer. </p>
  </div>
  </div>

  <div id="div1">
    <p>For specific questions about Ferrotec temperature controllers or to place an order, contact your Ferrotec thermal solutions representative or use the <a href="/content/teresolvent"><b>Thermal Solutions Inquiry Form.</b></a></p>
  </div>
  
  <div id="cpdl3"></div>
  
  <div id ="pp"><p>Other options and information:</p></div>
  
  <div id="cpjjdetail2">
  <div id="cpjjdetailimg2">
    <a onClick='window.parent.location.href("/technology/index_en?id=004003001")' onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#3B6F9F'" style="cursor:pointer" >
  <img src="/images/jszn_en.jpg" alt="product" border="0" height="102" width="166" />
    </a>
  </div>
  <div id="cpjjdetailcontent2">
       <p id="cpjjsummary">Do you have questions about thermoelectrics, thermoelectric technology, Peltier cooling, or the Seebeck effect? Are you trying to calculate your thermal system requirements？</p><a onClick='window.parent.location.href("/technology/index_en?id=004003001")' onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#3B6F9F'" style="cursor:pointer" ><p id="readmore">Read more&raquo;</p></a>

  </div>  
  </div>
</body>
</html>
