<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>解决方案</title>
<%= stylesheet_link_tag 'content' %>
<%= javascript_include_tag 'WebCalendar'%> 

<style type="text/css">
<!--
.style1 {color: #999999}
.style22 {font-size: 12px}
.style14 {font-size: 12px; color: #003559; }
.style2 {
  font-size: 12px; color: #FFFFFF;text-align:center; 
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
}
-->
</style>
</head>

<body onload="parent.document.getElementById('frame1').style.height=this.document.body.scrollHeight">

<% if flash[:notice] -%>
<br/>
<br/>
<div id="notice"><%= flash[:notice] %></div>
<br/>
<br/>
<% end -%>


<div id="yylybanner"><span>我需要Ferrotec更多的热电产品解决方案！</span></div>

<div id="communion4">
  <p>感谢您关注Ferrotec的热电制冷制品。欲了解更多特殊模块信息，或得到热电解决方案的报价，或开始定单流程，请填写下表，提交您的联系信息并提交您的产品使用信息。</p>
</div>


<% form_tag :action => 'add_teresolvent',:object => @contact do %>
<div id="communion3" align="left">
      <table id="communiontable" width="530" border="0" align="left" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
        <tr><td colspan="2" height="30">
              <span width="150">1、联系信息</span>
        </td>
        <td>以下信息将有助于我们尽快处理您的需求&nbsp;&nbsp;&nbsp;&nbsp;<span><font style="font-weight:bold">*必填选项</font></span></td>
        </tr>
        
        <tr valign="baseline">
          <td width="1"></td>
          <td width="140" bgcolor="#999999" class="style2"><div align="left">姓名&nbsp;&nbsp;*</div></td>
          <td><div align="left">
              <% @contact.categoryid = @menu %>
              <%= hidden_field 'contact', 'categoryid'  %>
              <%= text_field 'contact', 'person' ,:size=> 40  %>
          </div></td>
        </tr>
        
        <tr valign="baseline">
          <td width="1"></td>
          <td width="140" bgcolor="#999999" class="style2"><div align="left">公司&nbsp;&nbsp;*</div></td>
          <td width="354"><div align="left">

              <%= text_field 'contact', 'company' ,:size=> 40  %>
          </div></td>
        </tr>
        
        <tr valign="baseline">
          <td width="1"></td>
          <td width="140" bgcolor="#999999" class="style2"><div align="left" class="style22">Email&nbsp;&nbsp;*</div></td>
          <td><div align="left" class="style14">
              <div align="left">
                <%= text_field 'contact', 'email' ,:size=> 40  %>
              </div>
          </div></td>
        </tr>
        

        <tr valign="baseline">
          <td width="1"></td>
          <td width="140" bgcolor="#999999" class="style2"><div align="left" class="style22">电话&nbsp;&nbsp;*</div></td>
          <td><div align="left" class="style14">
              <div align="left">
                <%= text_field 'contact', 'phone' ,:size=> 40  %>
              </div>
          </div></td>
        </tr>

        <tr>
          <td width="1"></td>
          <td width="140" height="137" align="right" valign="top" nowrap bgcolor="#999999" class="style2"><p>&nbsp;</p>
              <p align="left">描述：请指出您感兴趣的热电制冷解决方案，包括数量和其他一些特殊要求。简要描述一下您的应用场合，也将有助于我们为您提供帮助</p></td>
          <td valign="baseline"><div align="left">
            <%= text_area 'contact', 'description' ,:cols => 40, :rows => 13  %>
          </div></td>
        </tr>
        
        <tr valign="baseline">
          <td width="1"></td>
          <td width="140" bgcolor="#999999" class="style2"><div align="left" class="style22">期望数量&nbsp;&nbsp;*</div></td>
          <td><div align="left" class="style14">
              <div align="left">
                <%= text_field 'contact', 'quantity' ,:size=> 40  %>
              </div>
          </div></td>
        </tr>
        
        <tr valign="baseline">
          <td width="1"></td>
          <td width="140" bgcolor="#999999" class="style2"><div align="left" class="style22">您期望何时得到产品</div></td>
          <td><div align="left" class="style14">
              <div align="left">
                <%= text_field 'contact', 'getdate', :id => 'text',:onclick=> "SelectDate(this,'yyyy-MM-dd')",:size=>"10"  %>
              </div>
          </div></td>
        </tr>
        
        <tr><td colspan="2" height="30">
              <span width="150">2、内容了解</span>
        </td>
        <td><span>您对TEC应用场合的重要信息</span></td>
        </tr>
        
        <tr valign="baseline">
          <td width="1"></td>
          <td width="140" bgcolor="#999999" class="style2"><div align="left" class="style22">您目前使用热电制冷器么:</div></td>
          <td><div align="left" class="style14">
              <div align="left">
                  <%= check_box 'contact', 'isused'  %>Yes</div>
          </div></td>
        </tr>
        
        <tr>
          <td width="1"></td>
          <td width="140" height="40" align="right" valign="top" nowrap bgcolor="#999999" class="style2"><p>&nbsp;</p>
              <p align="left">如果是，您正在使用的是哪家公司的什么型号的模块?</p></td>
          <td valign="baseline"><div align="left">
            <%= text_area 'contact', 'asked' ,:cols => 40, :rows => 4  %>
          </div></td>
        </tr>
        
        <tr valign="baseline">
          <td width="1"></td>
          <td width="140" bgcolor="#999999" class="style2"><div align="left" class="style22">TEC尺寸:(宽mm×长mm)</div></td>
          <td><div align="left" class="style14">
              <div align="left">
                <%= text_field 'contact', 'tecsize' ,:size=> 40  %>
              </div>
          </div></td>
        </tr>
        
        <tr valign="baseline">
          <td width="1"></td>
          <td width="140" bgcolor="#999999" class="style2"><div align="left" class="style22">TEC Thot:(℃)</div></td>
          <td><div align="left" class="style14">
              <div align="left">
                <%= text_field 'contact', 'tecthot' ,:size=> 40  %>
              </div>
          </div></td>
        </tr>
        
        <tr valign="baseline">
          <td width="1"></td>
          <td width="140" bgcolor="#999999" class="style2"><div align="left" class="style22">TEC Tcold:(℃)</div></td>
          <td><div align="left" class="style14">
              <div align="left">
                <%= text_field 'contact', 'tectcold' ,:size=> 40  %>
              </div>
          </div></td>
        </tr>
        
        <tr valign="baseline">
          <td width="1"></td>
          <td width="140" bgcolor="#999999" class="style2"><div align="left" class="style22">TEC Cooling Load:</div></td>
          <td><div align="left" class="style14">
              <div align="left">
                <%= text_field 'contact', 'teccoolingload' ,:size=> 40  %>
              </div>
          </div></td>
        </tr>
        
        <tr valign="baseline">
          <td width="1"></td>
          <td width="140" bgcolor="#999999" class="style2"><div align="left" class="style22">TEC 电源要求:</div></td>
          <td><div align="left" class="style14">
              <div align="left">
                <%= text_field 'contact', 'tecasked' ,:size=> 40  %>
              </div>
          </div></td>
        </tr>
    </table>
</div>


<div class ="clear"></div>
<div align="center" id="buttom"><%= submit_tag "提交" %>&nbsp;&nbsp;&nbsp;&nbsp;<%= submit_tag "重置" %>
</div>
<% end %>
</body>
</html>