<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Locations</title>
<%= stylesheet_link_tag 'content' %>

<script>
<!--
function setTab(m,n){
 var tli=document.getElementById("menu"+m).getElementsByTagName("li");
 var mli=document.getElementById("main"+m).getElementsByTagName("ul");
 for(i=0;i<tli.length;i++){
  tli[i].className=i==n?"hover":"";
  mli[i].style.display=i==n?"block":"none";
 }
parent.document.getElementById("frame1").style.height = this.document.body.scrollHeight;
parent.setTop();
}
//-->
</script>
</head>

<body onload="setTab(0,0)">
  <div id="yylybanner">Locations</div>
  <div id="tabs0">
   <ul id="menu0">
    <li onclick="setTab(0,0)" class="hover" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'"  >Hangzhou</li>
    <li onclick="setTab(0,1)" class="hover" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'"  style="font-size:12px">Shanghai</li>
    <li onclick="setTab(0,2)" class="hover" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'"  style="font-size:12px">HanHong</li>
    <li onclick="setTab(0,3)" class="hover" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'"  style="font-size:12px">AQM</li>
    <li onclick="setTab(0,4)" class="hover" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#000000'"  style="font-size:12px">Wagen</li>
   </ul>
   <div id="main0">
    <ul id="block">
      <li>
        <div id="dlwz">
        <a href="http://www.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=%E6%B5%99%E6%B1%9F%E7%9C%81%E6%9D%AD%E5%B7%9E%E5%B8%82%E6%BB%A8%E6%B1%9F%E5%8C%BA%E6%9D%AD%E5%B7%9E%E5%A4%A7%E5%92%8C%E7%83%AD%E7%A3%81%E7%94%B5%E5%AD%90%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&sll=42.960568,-71.496277&sspn=0.090576,0.154839&g=33+Constitution+Drive,+Bedford,+NH&ie=UTF8&hq=%E6%9D%AD%E5%B7%9E%E5%A4%A7%E5%92%8C%E7%83%AD%E7%A3%81%E7%94%B5%E5%AD%90%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&hnear=Binjiang,+Hangzhou,+Zhejiang,+China&ll=30.185311,120.165195&spn=0.026746,0.03871&z=15" target="_blank">
        <img src="/images/index/dahe_2_en.jpg" alt="2D Map" border="0"   align="bottom"  height="394" width="540" />
        </a>
        </div>
      </li>
    </ul>
    
    <ul id="block">
      <li>
        <div id="dlwz">
        <a href="http://www.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=%E4%B8%8A%E6%B5%B7%E5%B8%82%E5%AE%9D%E5%B1%B1%E5%8C%BA%E4%B8%8A%E6%B5%B7%E7%94%B3%E5%92%8C%E7%83%AD%E7%A3%81%E7%94%B5%E5%AD%90%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&sll=30.185311,120.165195&sspn=0.026746,0.03871&ie=UTF8&hq=%E4%B8%8A%E6%B5%B7%E7%94%B3%E5%92%8C%E7%83%AD%E7%A3%81%E7%94%B5%E5%AD%90%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&hnear=Baoshan,+Shanghai,+China&z=11&iwloc=A" target="_blank">
        <img src="/images/index/shenhe_2_en.jpg" alt="2D Map" border="0"   align="bottom"  height="394" width="540" />
        </a>
        </div>
      </li>
    </ul>
    
    <ul id="block">
      <li>
        <div id="dlwz">
        <a href="http://www.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=%E4%B8%8A%E6%B5%B7%E5%B8%82%E5%AE%9D%E5%B1%B1%E5%8C%BA%E4%B8%8A%E6%B5%B7%E7%94%B3%E5%92%8C%E7%83%AD%E7%A3%81%E7%94%B5%E5%AD%90%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&sll=30.185311,120.165195&sspn=0.026746,0.03871&ie=UTF8&hq=%E4%B8%8A%E6%B5%B7%E7%94%B3%E5%92%8C%E7%83%AD%E7%A3%81%E7%94%B5%E5%AD%90%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&hnear=Baoshan,+Shanghai,+China&z=11&iwloc=A" target="_blank">
       <img src="/images/index/hanhong_2_en.jpg" alt="2D Map" border="0"   align="bottom"  height="394" width="540" />
        </a>
        </div>
      </li>
    </ul>
    
    <ul id="block">
      <li>
        <div id="dlwz">
        <a href="http://www.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=%E6%B5%99%E6%B1%9F%E7%9C%81%E6%9D%AD%E5%B7%9E%E5%B8%82%E6%BB%A8%E6%B1%9F%E5%8C%BA%E6%9D%AD%E5%B7%9E%E5%A4%A7%E5%92%8C%E7%83%AD%E7%A3%81%E7%94%B5%E5%AD%90%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&sll=42.960568,-71.496277&sspn=0.090576,0.154839&g=33+Constitution+Drive,+Bedford,+NH&ie=UTF8&hq=%E6%9D%AD%E5%B7%9E%E5%A4%A7%E5%92%8C%E7%83%AD%E7%A3%81%E7%94%B5%E5%AD%90%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&hnear=Binjiang,+Hangzhou,+Zhejiang,+China&ll=30.185311,120.165195&spn=0.026746,0.03871&z=15" target="_blank">
        <img src="/images/index/aqm_2_en.jpg" alt="2D Map" border="0"   align="bottom"  height="394" width="540" />
        </a>
        </div>
      </li>
    </ul>
    
    <ul id="block">
      <li>
        <div id="dlwz">
        <a href="http://www.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=%E6%B5%99%E6%B1%9F%E7%9C%81%E6%9D%AD%E5%B7%9E%E5%B8%82%E6%8B%B1%E5%A2%85%E5%8C%BA%E6%9D%AD%E5%B7%9E%E5%92%8C%E6%BA%90%E7%B2%BE%E5%AF%86%E5%B7%A5%E5%85%B7%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&sll=31.305835,121.353264&sspn=0.211496,0.309677&ie=UTF8&hq=%E6%9D%AD%E5%B7%9E%E5%92%8C%E6%BA%90%E7%B2%BE%E5%AF%86%E5%B7%A5%E5%85%B7%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&hnear=Gongshu,+Hangzhou,+Zhejiang,+China&ll=30.342658,120.181675&spn=0.106814,0.154839&z=13&iwloc=A" target="_blank">
        <img src="/images/index/wagen_2_en.jpg" alt="2D Map" border="0"   align="bottom"  height="394" width="540" />
        </a>
        </div>
      </li>
    </ul>
   </div>
  </div>
  <br />
  <br />
  <br />
  
</body>
</html>