<div id="aboutfooter1">
  <!--<p><img src="/images/bottomlline.jpg" width="780" height="5"></p>-->
  <p id="p1">2001-2009 COPYRIGHT FERROTEC(CN)CORPORATION ALL RIGHTS RESERVED</p>
  <p id="p1">
  <%
      case $company_id.to_s
      when "1"
  %>
    <a href="http://www.miibeian.gov.cn/">浙ICP备05003418号</a>
  <% when "2" %>
    <a href="http://www.miibeian.gov.cn/">浙ICP备05003418号</a>
  <% when "3" %>
    <a href="http://www.miibeian.gov.cn/">沪ICP备05012227号</a>
  <% else %>
    <a href="http://www.miibeian.gov.cn/">浙ICP备05003418号</a>
  <% end %>
  </p>
  <p></p>
</div>