<!DOCTYPE html>
<html>
  <head>
    <title>宁夏富乐德石英材料有限公司</title>
    <%= stylesheet_link_tag 'fld' %>
  </head>
  <body>
    <div id="container">
      <%= yield %>
      <div id='footer'>
        <p>2001-2012 COPYRIGHT AQM ALL RIGHTS RESERVER</p>
        <p>淅ICP备06049293号</p>
      </div>
    </div>
  </body>
</html>
