<!DOCTYPE html>
<html>
  <head>
    <title>杭州晶鑫科技有限公司</title>
    <%= stylesheet_link_tag 'jx' %>
  </head>
  <body>
    <div id="container">
      <%= yield %>
      <div id='footer'>
        <p>2010-2012 COPYRIGHT JX ALL RIGHTS RESERVER</p>
        <p>浙ICP备06049293号</p>
      </div>
    </div>
  </body>
</html>
