<!DOCTYPE html>
<html>
  <head>
    <title>宁夏银和新能源科技有限公司</title>
    <%= stylesheet_link_tag 'yh' %>
  </head>
  <body>
    <div id="container">
      <%= yield %>
      <div id='footer'>
        <p>2001-2012 COPYRIGHT FERROTEC(CN) CORPORATION ALL RIGHTS RESERVER</p>
        <p>浙ICP备06049293号</p>
      </div>
    </div>
  </body>
</html>
